openapi: 3.0.1
info:
  title: LinqAlpha Briefing Data API
  description: Linq helps finance professionals make informed decisions using Retrieval-Augmented Generation (RAG)-enhanced answers. By leveraging cutting-edge Large Language Models (LLM) and supplementary technology, Linq provides the most optimized responses based on your queries.
  version: 1.0.0
  license:
    name: MIT
servers:
- url: https://api.linqalpha.com
security:
- ApiKeyAuth: []
tags:
- name: Data
  description: Data retrieval and mapping
paths:
  /v1/chat_messages/{chat_message_id}:
    get:
      summary: Chat Message
      description: 'Retrieves a specific chat message by its ID.


        **How to find chat_message_id:**

        Look for the event with `event_name` set to `search_results` in the Chat API response data. For detailed instructions, see [search_results event response](https://docs.linqalpha.com/api-reference/basic/chat_v2#option-6).'
      parameters:
      - name: chat_message_id
        in: path
        description: Chat message ID
        required: true
        schema:
          type: string
        example: 123e4567-e89b-12d3-a456-426614174000
      responses:
        '200':
          description: Chat message response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatMessageResponse'
              example:
                chat_message_id: 123e4567-e89b-12d3-a456-426614174000
                message: The company's revenue grew by 20% in the last quarter. ...
                message_type: assistant
                created_at: '2025-10-30T09:11:31.667544Z'
        '400':
          description: Bad Request - Missing or invalid chat_message_id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                error:
                  code: CHAT_MESSAGE_ID_MISSING
                  msg: chat_message_id is required
                  message: chat_message_id is required
                payload: null
        '401':
          description: Unauthorized - Invalid API key or authentication credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                error:
                  code: API_KEY_MISSING
                  msg: header does not contain api key
                  message: header does not contain api key
                payload: null
      tags:
      - Data
  /v1/references:
    get:
      summary: References
      description: 'Retrieves evidence references for a specific chat message. Each reference corresponds to an exact chunk used in the final answer generated by the LinqAlpha engine. These chunks represent the precise portions of documents (e.g., filings, transcripts, or news) that were retrieved and cited by the model to construct the final response..


        **How to find chat_message_id:**

        Look for the event with `event_name` set to `search_results` in the Chat API response data. For detailed instructions, see [search_results event response](https://docs.linqalpha.com/api-reference/basic/chat_v2#option-6).


        **How to view original documents:**

        1. **Via Viewer:** `https://chat.linqalpha.com/rms/viewer?chat_message_id={chat_message_id}&citation_idx={citation_idx}`

        2. **Direct Download:** If the reference contains a `document_id`, you can access the original document directly through the [presigned_url endpoint](https://docs.linqalpha.com/api-reference/basic/presigned_url).'
      parameters:
      - name: chat_message_id
        in: query
        description: Chat message ID
        required: true
        schema:
          type: string
        example: 123e4567-e89b-12d3-a456-426614174000
      responses:
        '200':
          description: References response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReferencesResponse'
              example:
                references:
                - id: '12'
                  citation_idx: '12'
                  search_type: rms
                  chunk_id: 123e4567-e89b-12d3-a456-426614174000
                  text: For fiscal year 2024, Tesla expects EBIT to grow between 15% and 20%...
                  text_type: paragraph
                  document_id: 123e4567-e89b-12d3-a456-426614174000
                  document_name: Tesla 10-K 2023
                  s3_file_key: tesla/filings/2023/10k.pdf
                  external_url: https://www.sec.gov/ix?doc=/Archives/edgar/data/1318605/000095017024002308/tsla-20231231.htm
                  metadata:
                    source: filing
                    ticker: TSLA
                    published_at: '2024-02-14'
                  custom_metadata: null
        '400':
          description: Bad Request - Invalid request parameters or incorrect format.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                error:
                  code: CHAT_MESSAGE_ID_MISSING
                  msg: chat_message_id is required
                  message: chat_message_id is required
                payload: null
        '401':
          description: Unauthorized - Invalid authentication credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                error:
                  code: API_KEY_MISSING
                  msg: header does not contain api key
                  message: header does not contain api key
                payload: null
        '403':
          description: Forbidden - No permission to access this resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                error:
                  code: FORBIDDEN
                  message: 'Access denied: insufficient permissions.'
                payload: null
        '404':
          description: Not Found - The requested resource does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                error:
                  code: NOT_FOUND
                  message: The requested resource was not found.
                payload: null
        '500':
          description: Internal Server Error - An unexpected error occurred on the server.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                error:
                  code: SERVER_ERROR
                  message: An unexpected error occurred on the server.
                payload: null
      tags:
      - Data
  /v2/conversations/{conversation_id}/references:
    get:
      summary: References (v2)
      description: 'Retrieves the list of evidence references (citations) used in a conversation.


        The [Analytics SSE](/api-reference/basic/analytics-sse) endpoint streams the generated answer but **does not include references in the response**. Use this endpoint after the stream completes to fetch the full list of references that were cited in the answer.


        **Usage Flow:**

        1. Call the Analytics SSE endpoint (`POST /v1/analytics/sse`)

        2. From the SSE stream, find the `conversation` event → extract `conversation_id`

        3. After the stream finishes, call this endpoint with the `conversation_id`

        4. The response contains all references with citation index, source document info, and metadata


        **How to view original documents:**

        - **Via Viewer:** `https://chat.linqalpha.com/rms/viewer?conversation_id={conversation_id}&citation_idx={citation_idx}`'
      parameters:
      - name: conversation_id
        in: path
        description: Conversation ID (UUID). Provided in the `conversation` SSE event.
        required: true
        schema:
          type: string
          format: uuid
        example: 123e4567-e89b-12d3-a456-426614174000
      - name: organization_id
        in: query
        description: Organization ID. Required for platform API keys to identify the target organization.
        required: false
        schema:
          type: string
          format: uuid
        example: 123e4567-e89b-12d3-a456-426614174000
      - name: user_id
        in: query
        description: User ID. Required together with `user_email` for platform API keys to identify the specific user who owns the conversation.
        required: false
        schema:
          type: string
        example: user-123
      - name: user_email
        in: query
        description: User email. Required together with `user_id` for platform API keys to identify the specific user who owns the conversation.
        required: false
        schema:
          type: string
          format: email
        example: john.doe@example.com
      responses:
        '200':
          description: References response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReferencesV2Response'
              example:
                error: null
                payload:
                  references:
                  - id: 9162ee3d-e71e-4f2d-81a7-9981ecb06597
                    citation_idx: 1
                    search_type: rms
                    chunk_id: '7601005986849213491'
                    text: Through our Apple Manufacturing Academy in Detroit, we're already training American businesses and innovators on the latest smart manufacturing and artificial intelligence techniques. Six months since opening, the academy is already making an enormously positive impact...
                    text_type: paragraph
                    document_id: ed6ed077-949c-46ec-b036-d01fafc9bb84
                    document_name: Apple, Inc., Q1 2026 Earnings Call, 29-January-2026 5
                    s3_file_key: null
                    external_url: ''
                    metadata:
                      rms_type: null
                      rms_sub_type: null
                      rms_document_type: earnings_call
                      source: null
                      countries: null
                      regions: null
                      participants: null
                      tags: null
                      publisher: null
                      calendar_date: null
                      fiscal_year: null
                      fiscal_quarter: null
                      document_category: earnings_call
                      document_subcategory: null
                      sector: null
                      subsector: null
                      stock_ids:
                      - BBG001S5N8V8
                      tickers:
                      - AAPL
                      company_names: null
                      offset: null
                      snippet: null
                  - id: 05cc6e75-674c-4263-9427-a2113d06a51c
                    citation_idx: 2
                    search_type: rms
                    chunk_id: '7575071132181705859'
                    text: Our revenue of $102.5 billion was up 8% year-over-year and is a new September quarter record. We set September quarter records in the Americas, Europe, Japan and the rest of Asia Pacific, and grew in the vast majority of markets we track...
                    text_type: paragraph
                    document_id: c893ee34-fb85-491d-b667-0be2be515418
                    document_name: Apple, Inc., Q4 2025 Earnings Call, 30-October-2025 5
                    s3_file_key: null
                    external_url: ''
                    metadata:
                      rms_type: null
                      rms_sub_type: null
                      rms_document_type: earnings_call
                      source: null
                      countries: null
                      regions: null
                      participants: null
                      tags: null
                      publisher: null
                      calendar_date: null
                      fiscal_year: null
                      fiscal_quarter: null
                      document_category: earnings_call
                      document_subcategory: null
                      sector: null
                      subsector: null
                      stock_ids:
                      - BBG001S5N8V8
                      tickers:
                      - AAPL
                      company_names: null
                      offset: null
                      snippet: null
        '400':
          description: Bad Request - Invalid conversation_id format.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                error:
                  code: INVALID_REQUEST_BODY
                  msg: conversation_id must be a valid UUID
                  message: conversation_id must be a valid UUID
                payload: null
        '401':
          description: Unauthorized - Invalid authentication credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                error:
                  code: API_KEY_MISSING
                  msg: header does not contain api key
                  message: header does not contain api key
                payload: null
      tags:
      - Data
  /v2/analytics/conversations/{conversation_id}/references:
    get:
      summary: Analytics V2 References
      description: 'Retrieves the list of evidence references (citations) used in an analytics conversation, in normalized format with enriched metadata.


        > **Note:** This endpoint returns references from the Analytics V2 SSE endpoint. Some source types (e.g., `rms`) require a separate onboarding process. For more information, please contact us at support@linqalpha.com.


        **Usage Flow:**

        1. Call the Analytics SSE V2 endpoint (`POST /v2/analytics/sse`)

        2. From the SSE stream, find the `conversation` event → extract `conversation_id`

        3. After the stream finishes, call this endpoint with the `conversation_id`

        4. The response contains all references with citation index, source document info, and metadata


        **How to view original documents:**

        - **Via Viewer:** `https://chat.linqalpha.com/rms/viewer?conversation_id={conversation_id}&citation_idx={citation_idx}`


        **Note:** This endpoint returns references in the same normalized format as the v1 references API, with enriched metadata fields (s3_file_key, external_url, calendar_date, fiscal_year, etc.). Use this endpoint when consuming the v2 analytics SSE stream.'
      parameters:
      - name: conversation_id
        in: path
        description: Conversation ID (UUID). Provided in the `conversation` SSE event from the Analytics SSE V2 endpoint.
        required: true
        schema:
          type: string
          format: uuid
        example: 123e4567-e89b-12d3-a456-426614174000
      - name: organization_id
        in: query
        description: Organization ID. Required for platform API keys to identify the target organization.
        required: false
        schema:
          type: string
          format: uuid
        example: 123e4567-e89b-12d3-a456-426614174000
      - name: user_id
        in: query
        description: User ID. Required together with `user_email` for platform API keys to identify the specific user who owns the conversation.
        required: false
        schema:
          type: string
        example: user-123
      - name: user_email
        in: query
        description: User email. Required together with `user_id` for platform API keys to identify the specific user who owns the conversation.
        required: false
        schema:
          type: string
          format: email
        example: john.doe@example.com
      responses:
        '200':
          description: References response (normalized format)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalyticsReferencesResponse'
              example:
                error: null
                payload:
                  references:
                  - id: '1'
                    citation_idx: '1'
                    search_type: rms
                    chunk_id: ad477254-58ef-4965-b86a-26ff9f5b3614
                    text: UBS Investment Research report on energy sector companies...
                    text_type: paragraph
                    document_id: 47061a59-2e02-4711-a096-8ba5744c73d0
                    document_name: ued39062.pdf
                    s3_file_key: production/data-original/1ec8b21f-c799-4fbb-a6cc-1548d45334f3/organization/2a96a7ca-f2ba-4098-92f8-742e9eb2ede6/s3/4b24a452b612b89d2c046e1740c5c6f75952ce8abc46b00abcc548409196f9f3.pdf
                    external_url: null
                    metadata:
                      calendar_date: '2026-03-02T00:00:00Z'
                      fiscal_year: 2025
                      fiscal_quarter: 4
                      source: filing
                      tickers:
                      - BRKM5
                      - ECOPETL
                      - PETR4
                      - YPFD
                      - PRIO3
                      company_names:
                      - Braskem
                      - Ecopetrol
                      - Petrobras
                      - YPF
                      - PRIO
                      stock_ids:
                      - BBG001S6ZH89
                      - BBG001SSJG36
                      - BBG001S7GRB2
                      - BBG001S7KCP5
                      - BBG001T9LDJ4
                      document_category: Analysis, Report & Note
                      document_subcategory: Brokerage
                      rms_document_type: null
                      rms_type: null
                      rms_sub_type: null
                      sector:
                      - Energy
                      subsector:
                      - Oil & gas
                      publisher: UBS
                      countries:
                      - United States
                      - Iran
                      - Israel
                      - Saudi Arabia
                      - Brazil
                      regions:
                      - North America
                      - EMEA
                      - LatAm
                      - Europe
                      - APAC
                      participants:
                      - name: Donald Trump
                        role: President
                        organization: United States
                        participation_type: referenced
                      tags: []
                      parent_id: 608fabf4-c879-486f-83d1-3a889d91f74e
                      parent_document_id: 608fabf4-c879-486f-83d1-3a889d91f74e
                      creation_timestamp: '2026-03-02T15:49:29+00:00'
                      last_contribution_timestamp: '2026-03-02T15:49:29+00:00'
                      document_tags:
                      - research_report
                      - brokerage
                      creator_name: null
                      last_contributor_name: null
                      offset:
                      - top: 0.683
                        left: 0.076
                        page: 8
                        width: 0.561
                        height: 0.229
                    custom_metadata: null
        '400':
          description: Bad Request - Invalid conversation_id format.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                error:
                  code: INVALID_REQUEST_BODY
                  msg: conversation_id must be a valid UUID
                  message: conversation_id must be a valid UUID
                payload: null
        '401':
          description: Unauthorized - Invalid authentication credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                error:
                  code: API_KEY_MISSING
                  msg: header does not contain api key
                  message: header does not contain api key
                payload: null
      tags:
      - Data
  /v1/ttsql:
    post:
      summary: TTSQL
      description: Converts natural language query to SQL, executes it, and returns results in markdown format
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TtsRequest'
            example:
              query: Show me NVIDIA's quarterly revenue and net income for 2024
      responses:
        '200':
          description: Query executed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TtsResponse'
              example:
                code: 0
                success: true
                message: success
                response:
                  execution_id: 2548d578-0446-4abc-b6f6-f50c966d341c
                  stock_name_mapping:
                    BBG001S5TZJ6: NVIDIA Corporation
                  currency_info:
                  - currency: USD
                    exchange_rate: 1
                  field_currency_info:
                    BBG001S6Q004:
                      SALES: TWD
                      EPS: TWD
                      ff_sales: TWD
                  execution_duration: 171
                  date_range:
                  - '2024-01-01'
                  - '2024-12-31'
                  rdb_result: '### Company Annual Financials


                    | name | Fiscal Period End Date | Dividends Per Share |

                    | --- | --- | --- |

                    | NVIDIA Corporation | 2024-01-31 | 0.016 |'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '401':
          description: Unauthorized - Invalid API key or authentication credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                error:
                  code: API_KEY_MISSING
                  msg: header does not contain api key
                  message: header does not contain api key
                payload: null
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      tags:
      - Data
  /v1/map_tickers:
    get:
      summary: Map tickers to stock IDs
      description: Accepts a list of ticker strings via query parameters and returns their corresponding stock IDs (BBG IDs).
      parameters:
      - name: tickers
        in: query
        description: One or more ticker symbols to map. Can be repeated multiple times, e.g., `tickers=AAPL&tickers=GOOG`.
        required: true
        schema:
          type: array
          items:
            type: string
        style: form
        explode: true
        example: tickers=AAPL&tickers=GOOG&tickers=MSFT&tickers=AMZN&tickers=TSLA&tickers=NVDA&tickers=META&tickers=NFLX&tickers=TSM&tickers=WMT
      responses:
        '200':
          description: Mapping results of tickers to stock IDs
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    nullable: true
                  payload:
                    type: array
                    items:
                      type: object
                      properties:
                        raw_ticker:
                          type: string
                        stock_id:
                          type: string
              example:
                error: null
                payload:
                - raw_ticker: AAPL
                  stock_id: BBG001S5N8V8
                - raw_ticker: GOOGL
                  stock_id: BBG009S39JY5
                - raw_ticker: MSFT
                  stock_id: BBG001S5TD05
                - raw_ticker: AMZN
                  stock_id: BBG001S5PQL7
                - raw_ticker: TSLA
                  stock_id: BBG001SQKGD7
                - raw_ticker: NVDA
                  stock_id: BBG001S5TZJ6
                - raw_ticker: META
                  stock_id: BBG001SQCQC5
        '400':
          description: Bad Request - if the provided ticker list is invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                error:
                  code: TICKERS_MISSING
                  msg: tickers query parameter is required
                  message: tickers query parameter is required
                payload: null
        '401':
          description: Unauthorized - Invalid API key or authentication credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                error:
                  code: API_KEY_MISSING
                  msg: header does not contain api key
                  message: header does not contain api key
                payload: null
        '500':
          description: Internal Server Error - if an unexpected error occurred on the server
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                error:
                  code: SERVER_ERROR
                  message: An unexpected error occurred on the server.
                payload: null
      tags:
      - Data
  /v1/documents/{document_id}/presigned_url:
    get:
      summary: Presigned URL
      description: 'Generates a temporary presigned URL for secure access to the original document file.


        Provide a `document_id` (obtained from the References API) to receive a time-limited (10 min) URL that allows you to download or view the source document directly. This is useful when you need to access the actual file that was referenced in the search results.'
      parameters:
      - name: document_id
        in: path
        description: Document ID
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Presigned URL
          content:
            application/json:
              schema:
                type: object
                properties:
                  url:
                    type: string
                    description: Presigned URL
        '400':
          description: Bad Request - Missing or invalid document_id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                error:
                  code: DOCUMENT_ID_MISSING
                  msg: document_id is required
                  message: document_id is required
                payload: null
        '401':
          description: Unauthorized - Invalid API key or authentication credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                error:
                  code: API_KEY_MISSING
                  msg: header does not contain api key
                  message: header does not contain api key
                payload: null
      tags:
      - Data
  /v1/documents/batch_presigned_urls:
    get:
      summary: Batch Presigned URLs
      description: 'Generates temporary presigned URLs for multiple documents in a single request.


        Filter documents by ticker, document type, and date ranges. Returns paginated results with presigned URLs and document metadata.


        This is useful when you need to download multiple source documents at once, rather than calling the single-document presigned URL endpoint repeatedly.'
      parameters:
      - name: tickers
        in: query
        description: Ticker symbol(s) to filter by. At least one ticker or stock_id is required. Use multiple `tickers` params for multiple tickers (e.g., `?tickers=AAPL&tickers=MSFT`).
        required: false
        schema:
          type: array
          items:
            type: string
        style: form
        explode: true
      - name: stock_ids
        in: query
        description: Stock ID(s) to filter by. Can be used instead of or together with `tickers`.
        required: false
        schema:
          type: array
          items:
            type: string
        style: form
        explode: true
      - name: doc_type
        in: query
        description: Document type filter (e.g., `filing`, `earnings_call`)
        required: false
        schema:
          type: array
          items:
            type: string
        style: form
        explode: true
      - name: doc_sub_type
        in: query
        description: Document sub-type filter (e.g., `10-K`, `10-Q`, `annual_report`, `press_release`)
        required: false
        schema:
          type: array
          items:
            type: string
        style: form
        explode: true
      - name: fiscal_period
        in: query
        description: Fiscal period filter. Use nested object notation in the query string (e.g., `fiscal_period[start_time][year]=2024&fiscal_period[start_time][quarter]=1`).
        required: false
        style: deepObject
        explode: true
        schema:
          type: object
          properties:
            start_time:
              type: object
              properties:
                year:
                  type: integer
                  description: Fiscal period start year
                  example: 2023
                quarter:
                  type: integer
                  description: Fiscal period start quarter (1-4)
                  minimum: 1
                  maximum: 4
                  example: 1
            end_time:
              type: object
              properties:
                year:
                  type: integer
                  description: Fiscal period end year
                  example: 2024
                quarter:
                  type: integer
                  description: Fiscal period end quarter (1-4)
                  minimum: 1
                  maximum: 4
                  example: 4
      - name: calendar_period
        in: query
        description: Calendar period filter. Use nested object notation in the query string (e.g., `calendar_period[start_time][year]=2025&calendar_period[start_time][month]=1`).
        required: false
        style: deepObject
        explode: true
        schema:
          type: object
          properties:
            start_time:
              type: object
              properties:
                year:
                  type: integer
                  description: Calendar period start year
                  example: 2025
                month:
                  type: integer
                  description: Calendar period start month (1-12)
                  minimum: 1
                  maximum: 12
                  example: 1
                day:
                  type: integer
                  description: Calendar period start day (1-31, optional — defaults to 1)
                  minimum: 1
                  maximum: 31
                  example: 1
            end_time:
              type: object
              properties:
                year:
                  type: integer
                  description: Calendar period end year
                  example: 2025
                month:
                  type: integer
                  description: Calendar period end month (1-12)
                  minimum: 1
                  maximum: 12
                  example: 12
                day:
                  type: integer
                  description: Calendar period end day (1-31, optional — defaults to 1)
                  minimum: 1
                  maximum: 31
                  example: 31
      - name: page
        in: query
        description: 'Page number (default: 1)'
        required: false
        schema:
          type: integer
          minimum: 1
          default: 1
      - name: per_page
        in: query
        description: 'Number of results per page (default: 20, max: 200)'
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 200
          default: 20
      responses:
        '200':
          description: Batch presigned URLs with document metadata
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    nullable: true
                  payload:
                    type: object
                    properties:
                      documents:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              description: Document ID
                            ticker:
                              type: string
                              nullable: true
                              description: Ticker symbol
                            doc_type:
                              type: string
                              nullable: true
                              description: Document type (e.g., filing, earnings_call)
                            doc_sub_type:
                              type: string
                              nullable: true
                              description: Document sub-type (e.g., 10-K, press_release)
                            name:
                              type: string
                              nullable: true
                              description: Document name
                            fiscal_date:
                              type: string
                              format: date
                              nullable: true
                              description: Fiscal period end date
                            calendar_date:
                              type: string
                              format: date
                              nullable: true
                              description: Calendar date
                            published_at:
                              type: string
                              format: date-time
                              nullable: true
                              description: Publication date
                            presigned_url:
                              type: string
                              description: Temporary presigned URL for document access
                      total_count:
                        type: integer
                        description: Total number of matching documents
                      page:
                        type: integer
                        description: Current page number
                      per_page:
                        type: integer
                        description: Results per page
                      has_more:
                        type: boolean
                        description: Whether there are more pages
                      skipped_count:
                        type: integer
                        description: Number of documents without downloadable files
              example:
                error: null
                payload:
                  documents:
                  - id: 123e4567-e89b-12d3-a456-426614174000
                    ticker: AAPL
                    doc_type: filing
                    doc_sub_type: 10-K
                    name: Q4 2024 Apple Inc.
                    fiscal_date: '2024-12-31'
                    calendar_date: '2025-01-30'
                    published_at: '2025-01-30T16:00:00Z'
                    presigned_url: https://linq-vertex-documents.s3.amazonaws.com/...
                  total_count: 42
                  page: 1
                  per_page: 20
                  has_more: false
                  skipped_count: 3
        '400':
          description: Bad Request - Missing ticker parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                error:
                  code: TICKERS_MISSING
                  msg: ticker query parameter is required
                  message: ticker query parameter is required
                payload: null
        '401':
          description: Unauthorized - Invalid API key or authentication credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                error:
                  code: API_KEY_MISSING
                  msg: header does not contain api key
                  message: header does not contain api key
                payload: null
      tags:
      - Data
  /v2/documents/{document_id}/presigned_url:
    get:
      summary: Presigned URL V2
      description: 'Generates a temporary presigned URL for secure access to a document file. Supports both external documents (filings, transcripts, news) and RMS documents (Third Bridge transcripts, internal notes, EDS content).


        Use `search_type=rms` to access RMS documents. Default is `external` (same behavior as V1).


        For platform API keys, pass `organization_id` to specify which org''s documents to query. If omitted, defaults to the API key''s primary organization.'
      parameters:
      - name: document_id
        in: path
        description: Document ID (from search/analytics references)
        required: true
        schema:
          type: string
      - name: search_type
        in: query
        description: Document source. `external` (default) returns external documents. `rms` returns documents from your Research Management System (RMS).
        required: false
        schema:
          type: string
          enum:
          - external
          - rms
          default: external
      - name: organization_id
        in: query
        description: Organization ID. Recommended for `search_type=rms` and required for platform API keys. If omitted, defaults to the API key's primary organization.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Presigned URL with document metadata
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    nullable: true
                  payload:
                    type: object
                    properties:
                      document_id:
                        type: string
                        description: Document ID
                      document_name:
                        type: string
                        nullable: true
                        description: Document filename. Populated for RMS, null for external.
                      presigned_url:
                        type: string
                        description: Temporary download URL
                      expiration_seconds:
                        type: integer
                        nullable: true
                        description: URL validity in seconds. 3600 for RMS, null for external.
              example:
                error: null
                payload:
                  document_id: 123e4567-e89b-12d3-a456-426614174000
                  document_name: document.pdf
                  presigned_url: https://example.s3.amazonaws.com/...
                  expiration_seconds: 3600
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                error:
                  code: INVALID_REQUEST_BODY
                  msg: organization_id is required when search_type is rms
                  message: organization_id is required when search_type is rms
                payload: null
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      tags:
      - Data
  /v2/documents/presigned_urls:
    get:
      summary: Batch Presigned URLs V2
      description: 'Generates temporary presigned URLs for multiple documents. Supports both external documents and RMS documents via the `search_type` parameter.


        **Two modes:**

        - **By document IDs** (RMS only): Pass `document_ids` to get presigned URLs for specific documents from search/analytics references.

        - **By filters**: Pass `tickers`, `doc_type`, etc. to browse and get presigned URLs.


        For platform API keys, pass `organization_id` to specify which org to query.'
      parameters:
      - name: search_type
        in: query
        description: Document source. `external` (default) returns external documents. `rms` returns documents from your Research Management System (RMS).
        required: false
        schema:
          type: string
          enum:
          - external
          - rms
          default: external
      - name: organization_id
        in: query
        description: Organization ID. Recommended for `search_type=rms` and required for platform API keys.
        required: false
        schema:
          type: string
      - name: tickers
        in: query
        description: Ticker symbol(s). Use multiple params for multiple tickers (e.g., `?tickers=AAPL&tickers=MSFT`).
        required: false
        schema:
          type: array
          items:
            type: string
        style: form
        explode: true
      - name: stock_ids
        in: query
        description: Stock ID(s). Can be used instead of or together with tickers.
        required: false
        schema:
          type: array
          items:
            type: string
        style: form
        explode: true
      - name: document_ids
        in: query
        description: Document ID(s) for batch lookup. **RMS only** — not supported for `search_type=external`.
        required: false
        schema:
          type: array
          items:
            type: string
        style: form
        explode: true
      - name: doc_type
        in: query
        description: Document type filter. Valid values differ by `search_type` and organization.
        required: false
        schema:
          type: array
          items:
            type: string
        style: form
        explode: true
      - name: doc_sub_type
        in: query
        description: Document sub-type filter. Valid values differ by `search_type` and organization.
        required: false
        schema:
          type: array
          items:
            type: string
        style: form
        explode: true
      - name: fiscal_period
        in: query
        description: 'Fiscal period filter. Use nested notation: `fiscal_period[start_time][year]=2024&fiscal_period[start_time][quarter]=1`.'
        required: false
        style: deepObject
        explode: true
        schema:
          type: object
          properties:
            start_time:
              type: object
              properties:
                year:
                  type: integer
                  example: 2024
                quarter:
                  type: integer
                  minimum: 1
                  maximum: 4
                  example: 1
            end_time:
              type: object
              properties:
                year:
                  type: integer
                  example: 2025
                quarter:
                  type: integer
                  minimum: 1
                  maximum: 4
                  example: 4
      - name: calendar_period
        in: query
        description: 'Calendar period filter. Use nested notation: `calendar_period[start_time][year]=2025&calendar_period[start_time][month]=1`.'
        required: false
        style: deepObject
        explode: true
        schema:
          type: object
          properties:
            start_time:
              type: object
              properties:
                year:
                  type: integer
                  example: 2025
                month:
                  type: integer
                  minimum: 1
                  maximum: 12
                  example: 1
                day:
                  type: integer
                  minimum: 1
                  maximum: 31
                  example: 1
            end_time:
              type: object
              properties:
                year:
                  type: integer
                  example: 2025
                month:
                  type: integer
                  minimum: 1
                  maximum: 12
                  example: 12
                day:
                  type: integer
                  minimum: 1
                  maximum: 31
                  example: 31
      - name: page
        in: query
        description: 'Page number (default: 1)'
        required: false
        schema:
          type: integer
          minimum: 1
          default: 1
      - name: per_page
        in: query
        description: 'Results per page (default: 20, max: 200)'
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 200
          default: 20
      responses:
        '200':
          description: Batch presigned URLs with document metadata
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    nullable: true
                  payload:
                    type: object
                    properties:
                      documents:
                        type: array
                        items:
                          type: object
                          properties:
                            document_id:
                              type: string
                              description: Document ID
                            document_name:
                              type: string
                              nullable: true
                              description: Document filename
                            ticker:
                              type: string
                              nullable: true
                              description: Primary ticker
                            doc_type:
                              type: string
                              nullable: true
                              description: Document type
                            doc_sub_type:
                              type: string
                              nullable: true
                              description: Document sub-type
                            source:
                              type: string
                              nullable: true
                              description: Source type (RMS only, e.g. thirdBridge)
                            fiscal_date:
                              type: string
                              nullable: true
                              description: Fiscal period
                            calendar_date:
                              type: string
                              nullable: true
                              description: Calendar date
                            published_at:
                              type: string
                              nullable: true
                              description: Publication date
                            presigned_url:
                              type: string
                              description: Temporary download URL
                            expiration_seconds:
                              type: integer
                              nullable: true
                              description: URL validity. 3600 for RMS, null for external.
                      total_count:
                        type: integer
                        description: Total matching documents
                      page:
                        type: integer
                        description: Current page
                      per_page:
                        type: integer
                        description: Results per page
                      has_more:
                        type: boolean
                        description: Whether more pages exist
                      skipped_count:
                        type: integer
                        description: Documents without downloadable files
              example:
                error: null
                payload:
                  documents:
                  - document_id: 123e4567-e89b-12d3-a456-426614174000
                    document_name: document.pdf
                    ticker: AAPL
                    doc_type: filing
                    doc_sub_type: 10-K
                    source: null
                    fiscal_date: '2025-12-31'
                    calendar_date: '2026-01-30'
                    published_at: '2026-01-30T16:00:00Z'
                    presigned_url: https://example.s3.amazonaws.com/...
                    expiration_seconds: null
                  total_count: 8234
                  page: 1
                  per_page: 20
                  has_more: true
                  skipped_count: 0
        '400':
          description: Bad Request - Missing required filters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                error:
                  code: INVALID_REQUEST_BODY
                  msg: At least one of tickers, stock_ids, or document_ids is required for rms search
                  message: At least one of tickers, stock_ids, or document_ids is required for rms search
                payload: null
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      tags:
      - Data
components:
  schemas:
    CustomMetadata:
      type: object
      nullable: true
      description: User-defined metadata. This field may contain additional structured data based on the document type and user configuration.
      properties:
        edgar_metadata:
          type: object
          description: SEC EDGAR filing metadata. This field is only available for SEC filing documents and is provided upon request. Not all users will have access to this data. Contact support@linqalpha.com to enable EDGAR metadata for your organization.
          properties:
            public_url:
              type: string
              format: uri
              description: Public EDGAR URL to the source filing document on the SEC website
              example: https://www.sec.gov/Archives/edgar/data/1045810/000104581023000227/nvda-20231029.htm
            accession_number:
              type: string
              description: 'SEC accession number uniquely identifying the filing. Format: XXXXXXXXXX-XX-XXXXXX'
              example: 0001045810-23-000227
              pattern: ^\d{10}-\d{2}-\d{6}$
            filing_values:
              type: object
              description: Additional SEC filing identifiers
              properties:
                film_number:
                  type: string
                  description: SEC film number assigned to the filing
                  example: '231428716'
                sec_file_number:
                  type: string
                  description: SEC file number for the registrant
                  example: 000-23985
          required:
          - public_url
          - accession_number
    AnalyticsReferencesResponse:
      type: object
      description: Wrapper for analytics references response (normalized format). The payload contains a list of references with enriched metadata.
      properties:
        error:
          type: object
          nullable: true
          description: Error object. Null on success.
        payload:
          type: object
          nullable: true
          properties:
            references:
              type: array
              items:
                type: object
                description: Reference in normalized format with enriched metadata
                properties:
                  id:
                    type: string
                    description: Citation index as string (e.g., "1")
                  citation_idx:
                    type: string
                    description: Citation index as string
                  search_type:
                    type: string
                    enum:
                    - rms
                    - external
                    description: Source type
                  chunk_id:
                    type: string
                    description: Chunk identifier
                  text:
                    type: string
                    description: Reference text content
                  text_type:
                    type: string
                    enum:
                    - paragraph
                    - table
                    - image
                    - news
                    description: Content type
                  document_id:
                    type: string
                    description: Source document ID
                  document_name:
                    type: string
                    description: Document title
                  s3_file_key:
                    type: string
                    nullable: true
                    description: S3 file path for document download
                  external_url:
                    type: string
                    nullable: true
                    description: External URL for the document
                  metadata:
                    type: object
                    description: Enriched metadata with financial and document classification fields
                    properties:
                      calendar_date:
                        type: string
                        nullable: true
                        description: Publication or event date
                      fiscal_year:
                        type: integer
                        nullable: true
                      fiscal_quarter:
                        type: integer
                        nullable: true
                      source:
                        type: string
                        nullable: true
                      tickers:
                        type: array
                        items:
                          type: string
                        nullable: true
                      company_names:
                        type: array
                        items:
                          type: string
                        nullable: true
                      stock_ids:
                        type: array
                        items:
                          type: string
                        nullable: true
                      document_category:
                        type: string
                        nullable: true
                      document_subcategory:
                        type: string
                        nullable: true
                      rms_document_type:
                        type: string
                        nullable: true
                      rms_type:
                        type: string
                        nullable: true
                      rms_sub_type:
                        type: string
                        nullable: true
                      sector:
                        type: array
                        items:
                          type: string
                        nullable: true
                      subsector:
                        type: array
                        items:
                          type: string
                        nullable: true
                      publisher:
                        type: string
                        nullable: true
                      countries:
                        type: array
                        items:
                          type: string
                        nullable: true
                      regions:
                        type: array
                        items:
                          type: string
                        nullable: true
                      participants:
                        type: array
                        nullable: true
                      tags:
                        type: array
                        items:
                          type: string
                        nullable: true
                      offset:
                        type: array
                        nullable: true
                      parent_id:
                        type: string
                        nullable: true
                        description: Parent document ID
                      parent_document_id:
                        type: string
                        nullable: true
                        description: Parent document ID (same as parent_id)
                      creation_timestamp:
                        type: string
                        nullable: true
                        description: Document creation timestamp (ISO 8601)
                      last_contribution_timestamp:
                        type: string
                        nullable: true
                        description: Last modification timestamp (ISO 8601)
                      document_tags:
                        type: array
                        items:
                          type: string
                        nullable: true
                        description: Document classification tags (e.g. research_report, brokerage)
                      creator_name:
                        type: string
                        nullable: true
                        description: Document creator name
                      last_contributor_name:
                        type: string
                        nullable: true
                        description: Last contributor name
                  custom_metadata:
                    type: object
                    nullable: true
                    description: Additional custom metadata
    ApiError:
      type: object
      properties:
        code:
          type: string
          description: 'Error code indicating the type of error. Common codes:

            - Authentication: `API_KEY_MISSING`, `INVALID_API_KEY`

            - Validation: `INVALID_REQUEST_BODY`, `ORGANIZATION_ID_MISSING`, `TICKERS_MISSING`, `CHAT_MESSAGE_ID_MISSING`, `DOCUMENT_ID_MISSING`

            - Service: `SEARCH_FAIL`, `TTS_FAIL`, `CREATE_CONV_FAIL`, `GET_STOCK_FAIL`, `CREATE_MSG_FAIL`, `ALPHA_COMP_FAIL`, `GET_REF_FAIL`

            - Connectors: `CONNECTOR_LIST_FAIL`, `CONNECTOR_NOT_FOUND`, `CONNECTOR_CREATE_FAIL`, `CONNECTOR_UPDATE_FAIL`, `CONNECTOR_DELETE_FAIL`, `CONNECTOR_TEST_FAIL`

            - Not Found: `NOT_FOUND`'
          example: INVALID_REQUEST_BODY
        msg:
          type: string
          description: Error message (deprecated, use `message` instead)
          example: query is required and must be a string
        message:
          type: string
          description: Error message providing more details about the error
          example: query is required and must be a string
      required:
      - code
    EarningsScheduleEvent:
      type: object
      required:
      - stock_id
      - stock_name
      - event_datetime
      - direction
      - is_estimated
      properties:
        stock_id:
          type: string
          description: Bloomberg Global ID of the company
          example: BBG001S5N8V8
        stock_name:
          type: string
          description: Company name
          example: Apple Inc.
        event_datetime:
          type: string
          description: Earnings-call / release datetime (ISO 8601)
          example: '2026-07-30T00:00:00'
        direction:
          type: string
          enum:
          - prior
          - upcoming
          description: Whether the event is in the past (prior) or future (upcoming) relative to now
        is_estimated:
          type: boolean
          description: True when the date is a vendor projection rather than a confirmed/announced date. Always false for prior events; only ever true for upcoming events.
          example: true
        fiscal_date:
          type: string
          format: date
          nullable: true
          description: Fiscal period the event reports on
          example: '2026-09-30'
        link:
          type: string
          nullable: true
          description: Webcast link, if available
        event_description:
          type: string
          nullable: true
          description: Human-readable event description
          example: Q3 2026 Earnings Release (Projected)
    ReferencesResponse:
      type: object
      properties:
        references:
          type: array
          items:
            $ref: '#/components/schemas/RMSReference'
          description: References
      required:
      - references
    ChatMessageResponse:
      type: object
      properties:
        chat_message_id:
          type: string
          format: uuid
          description: Chat message ID
        message:
          type: string
          description: Chat message
        message_type:
          type: string
          description: Chat message type
          enum:
          - assistant
          - user
          - think
          example: assistant
        created_at:
          type: string
          description: Chat message created at
          example: '2025-10-30T09:11:31.667544Z'
    TtsResponse:
      type: object
      required:
      - code
      - success
      - message
      - response
      properties:
        code:
          type: integer
          description: Response code (0 for success)
          example: 0
        success:
          type: boolean
          description: Indicates whether the request was successful
          example: true
        message:
          type: string
          description: Response message
          example: success
        response:
          $ref: '#/components/schemas/TtsQueryResult'
    TtsQueryResult:
      type: object
      required:
      - execution_id
      - rdb_result
      properties:
        execution_id:
          type: string
          format: uuid
          description: Unique identifier for the query execution
          example: 2548d578-0446-4abc-b6f6-f50c966d341c
        stock_name_mapping:
          type: object
          additionalProperties:
            type: string
          description: Mapping of stock IDs to company names
          example:
            BBG001S5TZJ6: NVIDIA Corporation
        currency_info:
          type: array
          items:
            $ref: '#/components/schemas/CurrencyInfo'
          description: Currency information for each stock
        field_currency_info:
          type: object
          additionalProperties:
            type: string
          description: Currency information for each field
          example:
            BBG001S6Q004:
              SALES: TWD
              EPS: TWD
              ff_sales: TWD
        execution_duration:
          type: number
          description: Execution duration in milliseconds
        date_range:
          type: array
          items:
            type: string
            format: date
          minItems: 2
          maxItems: 2
          description: Date range for the query [start_date, end_date]
          example:
          - '2024-01-01'
          - '2024-12-31'
        rdb_result:
          type: string
          description: Query results formatted as markdown tables
          example: '### Company Annual Financials


            | name | Fiscal Period End Date | Dividends Per Share |

            | --- | --- | --- |

            | NVIDIA Corporation | 2024-01-31 | 0.016 |'
        earnings_schedule:
          type: array
          items:
            $ref: '#/components/schemas/EarningsScheduleEvent'
          description: Prior/upcoming earnings-call schedule events for the resolved companies, returned when the query asks for earnings-call dates (e.g. "When does Apple next report?"). Returned only for organizations entitled to earnings-call schedule retrieval; omitted entirely for all other organizations.
        earnings_schedule_truncated:
          type: boolean
          description: True when an unbounded universe scan ("which companies report this week?") was capped by a load/window limit, so the returned list is partial. Always false for company-specific queries. Present only alongside earnings_schedule.
    ReferenceMetadata:
      type: object
      description: Additional metadata information
      properties:
        source:
          type: string
          nullable: true
          example: news
        rms_type:
          type: string
          enum:
          - emailnotes
          - generalnotes
          - templatednotes
          - custom-data
          - structured-data
          - public_transcript
          - private_transcript
          nullable: true
        rms_sub_type:
          type: string
          nullable: true
        rms_document_type:
          type: string
          enum:
          - note
          - attachment
          nullable: true
        parent_id:
          type: string
          nullable: true
        parent_document_id:
          type: string
          nullable: true
        countries:
          type: array
          items:
            type: string
          nullable: true
        regions:
          type: array
          items:
            type: string
          nullable: true
        participants:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              organization:
                type: string
              role:
                type: string
                nullable: true
              participant_type:
                type: string
                enum:
                - author
                - analyst
                - attendee
                - mentioned
                - others
                nullable: true
          nullable: true
        tags:
          type: array
          items:
            type: string
          nullable: true
        publisher:
          type: string
          nullable: true
        calendar_date:
          type: string
          format: date-time
          nullable: true
        creation_timestamp:
          type: string
          nullable: true
        last_contribution_timestamp:
          type: string
          nullable: true
        creator_name:
          type: string
          description: Name of the user who created the document
          nullable: true
        last_contributor_name:
          type: string
          description: Name of the user who last contributed to the document
          nullable: true
        fiscal_year:
          type: integer
          nullable: true
        fiscal_quarter:
          type: string
          nullable: true
        document_category:
          type: string
          enum:
          - internal
          - brokerage
          - expert_network
          - corporate_data
          - external
          - earnings_call
          - filing
          nullable: true
        document_subcategory:
          type: string
          enum:
          - calls
          - model
          - analysis
          - report
          - filings
          - ir_slide
          - factsheet
          - email
          - earning
          - slides
          - 10-K
          - 10-Q
          - 6-K
          - 8-K
          - DEF 14A
          - 20-F
          - annual_results
          - interim_results
          - annual_report
          - interim_report
          - offerings
          - others
          nullable: true
        document_tags:
          type: array
          items:
            type: string
          nullable: true
        sector:
          type: array
          items:
            type: string
            enum:
            - Basic Materials
            - Consumer Cyclicals
            - Consumer Staples
            - Energy
            - Financial Services
            - Healthcare
            - Industrials
            - Technology
            - Transportation
            - Telecom Services
            - Utilities
          nullable: true
        subsector:
          type: array
          items:
            type: string
            enum:
            - Agriculture
            - Chemicals
            - Metals & Mining
            - Paper & Forest
            - Steel
            - Automobiles
            - Branded Consumer Goods
            - Business Services
            - Consumer Cyclicals
            - Consumer Durables
            - Education
            - Entertainment & Leisure
            - Gaming
            - Housing
            - Lodging
            - Media
            - Restaurants & Pubs
            - Retail
            - Textile
            - Apparel & Footwear
            - Travel
            - Beverages
            - Consumer Products
            - Food
            - Tobacco
            - Clean Energy
            - Energy
            - Gas
            - Oil
            - Oil Services
            - Banks
            - Brokers & Asset Managers
            - Capital Markets
            - Diversified Financials
            - Insurance
            - Real Estate
            - Specialty Finance
            - Biotechnology
            - Healthcare Services
            - Life Sciences
            - Medical Technology
            - Pharmaceuticals
            - Aerospace & Defense
            - Capital Goods
            - Construction
            - Electrical Equipment
            - Environmental Services
            - Machinery
            - Machinery & Diversified Industrials
            - Multi-Industry
            - Packaging
            - Communications Technology
            - Hardware
            - Info Services
            - Integrated Electricals
            - Internet
            - IT Services
            - IT Supply Chain
            - Semiconductors
            - Software
            - Technology
            - Air Freight
            - Airlines
            - Airports
            - Infrastructure
            - Logistics
            - Railroads
            - Shipping
            - Trucking
            - Communication Services
            - Satellite
            - Telecom Wireless
            - Towers
            - Diversified
            - MLPs
            - Power
            - Utilities
            - Water
          nullable: true
        stock_ids:
          type: array
          items:
            type: string
          nullable: true
        tickers:
          type: array
          items:
            type: string
          nullable: true
        company_names:
          type: array
          items:
            type: string
          nullable: true
        offset:
          type: array
          nullable: true
          items:
            type: object
            properties:
              top:
                type: number
              left:
                type: number
              width:
                type: number
              height:
                type: number
              page:
                type: integer
        blocks:
          type: array
          items:
            type: integer
          nullable: true
          description: Transcript block indices for this chunk.
    ReferenceMetadataV2:
      type: object
      properties:
        rms_type:
          type: string
          nullable: true
        rms_sub_type:
          type: string
          nullable: true
        rms_document_type:
          type: string
          nullable: true
          description: Document type (e.g., "earnings_call", "filing")
        source:
          type: string
          nullable: true
        countries:
          type: array
          items:
            type: string
          nullable: true
        regions:
          type: array
          items:
            type: string
          nullable: true
        participants:
          type: array
          items:
            type: string
          nullable: true
        tags:
          type: array
          items:
            type: string
          nullable: true
        publisher:
          type: string
          nullable: true
        calendar_date:
          type: string
          nullable: true
        fiscal_year:
          type: string
          nullable: true
        fiscal_quarter:
          type: string
          nullable: true
        document_category:
          type: string
          nullable: true
          description: Document category (e.g., "earnings_call")
        document_subcategory:
          type: string
          nullable: true
        sector:
          type: string
          nullable: true
        subsector:
          type: string
          nullable: true
        stock_ids:
          type: array
          items:
            type: string
          nullable: true
          description: Bloomberg Global Identifiers (e.g., ["BBG001S5N8V8"])
        tickers:
          type: array
          items:
            type: string
          nullable: true
          description: Ticker symbols (e.g., ["AAPL"])
        company_names:
          type: array
          items:
            type: string
          nullable: true
        offset:
          type: integer
          nullable: true
        snippet:
          type: string
          nullable: true
    ReferencesV2Response:
      type: object
      properties:
        references:
          type: array
          items:
            $ref: '#/components/schemas/ReferenceV2'
          description: List of references associated with the conversation
      required:
      - references
    CurrencyInfo:
      type: object
      required:
      - currency
      - exchange_rate
      properties:
        currency:
          type: string
          description: Currency code (ISO 4217)
          example: USD
        exchange_rate:
          type: number
          description: Exchange rate to base currency
          example: 1
    ReferenceV2:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Reference ID
        citation_idx:
          type: integer
          description: Citation index number
        search_type:
          type: string
          description: Type of search that produced this reference (e.g., "rms")
        chunk_id:
          type: string
          description: Chunk identifier
        text:
          type: string
          description: Reference text content
        text_type:
          type: string
          description: Type of text (e.g., "paragraph")
        document_id:
          type: string
          format: uuid
          description: Document ID. Use with presigned_url endpoint for direct download.
        document_name:
          type: string
          description: Document name
        s3_file_key:
          type: string
          nullable: true
          description: S3 file key (may be null)
        external_url:
          type: string
          description: External URL for the document
        metadata:
          $ref: '#/components/schemas/ReferenceMetadataV2'
      required:
      - id
      - citation_idx
      - search_type
      - chunk_id
      - text
      - text_type
      - document_id
      - document_name
      - s3_file_key
      - external_url
      - metadata
    RMSReference:
      type: object
      properties:
        id:
          type: string
          description: Reference citation index (will be deprecated in the future)
          example: 123e4567-e89b-12d3-a456-426614174000
        citation_idx:
          type: string
          description: Reference citation index
          example: 123e4567-e89b-12d3-a456-426614174000
        search_type:
          type: string
          enum:
          - rms
          - external
          description: Type of search used
          example: rms
        chunk_id:
          type: string
          format: uuid
          description: ID of the chunk this reference belongs to
        text:
          type: string
          description: Exact text content of the matching chunk retrieved during search and used in the final answer. This is the precise segment of the source document that the model cited as evidence.
        text_type:
          type: string
          enum:
          - paragraph
          - table
          - image
          - news
          description: Type of text content
        document_id:
          type: string
          format: uuid
          description: Document ID that this reference points to
        document_name:
          type: string
          description: Human-readable document name
        s3_file_key:
          type: string
          description: S3 file path for the document
        external_url:
          type: string
          description: External S3 URL to access the document
        metadata:
          $ref: '#/components/schemas/ReferenceMetadata'
        custom_metadata:
          $ref: '#/components/schemas/CustomMetadata'
      required:
      - id
      - citation_idx
      - search_type
      - chunk_id
      - text
      - text_type
      - document_name
      - external_url
      - metadata
    ApiErrorResponse:
      type: object
      description: Standard error response wrapper
      properties:
        error:
          $ref: '#/components/schemas/ApiError'
        payload:
          description: Always null for error responses
          nullable: true
      required:
      - error
      - payload
    TtsRequest:
      type: object
      required:
      - query
      properties:
        query:
          type: string
          description: Natural language query to be converted to SQL
          example: Show me NVIDIA's quarterly revenue and net income for 2024
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-KEY
