openapi: 3.0.1
info:
  title: LinqAlpha Briefing Search API
  description: Linq helps finance professionals make informed decisions using Retrieval-Augmented Generation (RAG)-enhanced answers. By leveraging cutting-edge Large Language Models (LLM) and supplementary technology, Linq provides the most optimized responses based on your queries.
  version: 1.0.0
  license:
    name: MIT
servers:
- url: https://api.linqalpha.com
security:
- ApiKeyAuth: []
tags:
- name: Search
  description: Search and generate responses
paths:
  /v2/analytics/messages/{chat_message_id}/judge:
    post:
      summary: Analytics V2 Judge (source-grounding)
      tags:
      - Search
      description: 'Runs a source-grounding judge over one Analytics answer. You supply the answer''s `chat_message_id` plus your own judging `prompt` (and an optional `response_schema`); we resolve the original prompt, the generated answer, and every reference the answer cited, run a tool-less GPT-4.1 over them, and return a verdict shaped by your schema.


        **Usage flow:**

        1. Call `POST /v2/analytics/sse`; while consuming the stream, capture the `chat_message_id` event.

        2. POST that id here with your `prompt` — your prompt is the entire judging instruction; we add no criteria of our own — and an optional `response_schema`.

        3. The verdict scores how well each claim is grounded in the sources the answer actually cited (a number that contradicts its source, or is absent from all sources, is flagged as not grounded).


        Tenant-scoped: you can only judge answers generated by your own organization; others return 404.'
      parameters:
      - name: chat_message_id
        in: path
        description: The assistant answer's ChatMessage UUID. Emitted as the `chat_message_id` event on the Analytics SSE V2 stream.
        required: true
        schema:
          type: string
          format: uuid
        example: 5b37f46c-f5de-4b8a-af09-5058dd4779b3
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - prompt
              properties:
                prompt:
                  type: string
                  maxLength: 50000
                  description: Your judging instruction, used verbatim as the judge's system prompt.
                response_schema:
                  type: object
                  additionalProperties: true
                  description: Optional JSON Schema for the verdict shape (must serialize to at most 100000 bytes). Omit to use the default verdict schema.
            example:
              prompt: 'For each section of the answer, return: (1) a score from 0 to 10 reflecting how well its claims are grounded in the cited sources [N], (2) a concise summary, and (3) a short report covering Strengths, Weaknesses, and any Contradicted or unverifiable facts. Any figure or rating absent from the cited sources must appear under Contradicted or unverifiable.'
              response_schema:
                type: object
                properties:
                  section_scores:
                    type: object
                    additionalProperties:
                      type: number
                  section_content_summaries:
                    type: object
                    additionalProperties:
                      type: string
                  report:
                    type: string
                required:
                - section_scores
                - section_content_summaries
                - report
      responses:
        '200':
          description: Grounding verdict, shaped by your `response_schema`.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    nullable: true
                  payload:
                    type: object
                    properties:
                      chat_message_id:
                        type: string
                        format: uuid
                      verdict:
                        type: object
                        additionalProperties: true
                      judge_model:
                        type: string
                      references_evaluated:
                        type: integer
              example:
                error: null
                payload:
                  chat_message_id: 5b37f46c-f5de-4b8a-af09-5058dd4779b3
                  verdict:
                    section_scores:
                      Market Snapshot: 9.5
                      What CLSA Says: 8.0
                    section_content_summaries:
                      Market Snapshot: Index levels and deltas match the cited FactSet/market-data sources.
                      What CLSA Says: Ratings and targets trace to the cited CLSA notes; one target could not be verified against any cited source.
                    report: '## Market Snapshot

                      - Strengths: index levels match the cited sources.

                      - Contradicted or unverifiable: none.


                      ## What CLSA Says

                      - Weaknesses: one price target is absent from the cited notes (flagged).'
                  judge_model: gpt-4.1
                  references_evaluated: 24
        '400':
          description: Bad Request — invalid `chat_message_id` or body (e.g. missing `prompt`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                error:
                  code: INVALID_REQUEST_BODY
                  msg: prompt is required
                  message: prompt is required
                payload: null
        '401':
          description: Unauthorized — missing or invalid API key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '404':
          description: Not found — the answer does not exist or was not generated by your organization.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '422':
          description: Unprocessable Entity — invalid `response_schema`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '502':
          description: Bad Gateway — upstream judge failure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '504':
          description: Gateway Timeout — the judge is a long-running LLM call.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
  /v1/search:
    post:
      summary: Search
      description: 'LinqAlpha uses multiple data sources and retrieval methods to find the most relevant documents or information based on a query. Unlike the generate endpoint, this API only performs the search step and returns matched results without generating a response.


        **How to view original documents:**

        1. **Via Viewer:** `https://chat.linqalpha.com/rms/viewer?chat_message_id={chat_message_id}&citation_idx={citation_idx}`

        2. **Direct Download:** If the reference contains a `document_id`, you can access the original document directly through the [presigned_url endpoint](https://docs.linqalpha.com/api-reference/basic/presigned_url).'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchRequest'
            example:
              query: What are the latest news on AAPL?
              stock_ids:
              - BBG001S5N8V8
              tickers:
              - AAPL
              external_types:
              - transcript
              - filing
              - news
              - ir_slide
      responses:
        '200':
          description: Search response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchResponse'
              example:
                chat_message_id: 123e4567-e89b-12d3-a456-426614174000
                search_result_count: 38
                execution_time_ms: 10355
                references:
                - id: '12'
                  citation_idx: '12'
                  search_type: rms
                  chunk_id: 123e4567-e89b-12d3-a456-426614174000
                  text: For fiscal year 2024, Tesla expects EBIT to grow between 15% and 20%...
                  text_type: paragraph
                  document_name: Tesla 10-K 2023
                  external_url: https://www.sec.gov/ix?doc=/Archives/edgar/data/1318605/000095017024002308/tsla-20231231.htm
                  metadata:
                    source: filing
                    ticker: TSLA
                    published_at: '2024-02-14'
                  custom_metadata: null
        '400':
          description: Bad Request - Invalid request parameters or incorrect format.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              examples:
                invalid_upload_period:
                  summary: Invalid upload_period format
                  value:
                    error:
                      code: INVALID_REQUEST_BODY
                      message: 'upload_period.start_time must be an object with year (integer), month (integer 1-12), and optional day (integer 1-31). Example: {"year": 2025, "month": 1, "day": 1}'
                    payload: null
                missing_query:
                  summary: Missing required field
                  value:
                    error:
                      code: INVALID_REQUEST_BODY
                      message: query is required and must be a string
                    payload: null
        '401':
          description: Unauthorized - Invalid authentication credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                error:
                  code: API_KEY_MISSING
                  msg: header does not contain api key
                  message: header does not contain api key
                payload: null
        '403':
          description: Forbidden - No permission to access this resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                error:
                  code: FORBIDDEN
                  message: 'Access denied: insufficient permissions.'
                payload: null
        '404':
          description: Not Found - The requested resource does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                error:
                  code: NOT_FOUND
                  message: The requested resource was not found.
                payload: null
        '500':
          description: Internal Server Error - An unexpected error occurred on the server.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                error:
                  code: SERVER_ERROR
                  message: An unexpected error occurred on the server.
                payload: null
      tags:
      - Search
  /v2/chat/sse:
    post:
      summary: Generate a response from the LinqAlpha engine via SSE
      description: 'Generate a response from the LinqAlpha engine. LinqAlpha uses different types of language models and data sources to generate an answer. The response is provided as a server-sent events (SSE) stream.


        **Note**: For this search chat endpoint, the stock_id (BBG_ID) can be obtained by referring to the [Map Tickers API](https://docs.linqalpha.com/api-reference/basic/map_tickers) and using the `stock_id` value from its response.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChatSseV2Request'
            example:
              query: What are the latest insights on AAPL performance?
              stock_ids:
              - BBG001S5N8V8
              tickers:
              - AAPL
              external_types:
              - transcript
              - filing
              - news
              - ir_slide
      responses:
        '200':
          description: SSE stream response with RMS search results
          content:
            text/event-stream:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ConversationEvent'
                - $ref: '#/components/schemas/ThinkEvent'
                - $ref: '#/components/schemas/SubQuestionsEvent'
                - $ref: '#/components/schemas/StatusEvent'
                - $ref: '#/components/schemas/DialogueIdEvent'
                - $ref: '#/components/schemas/SearchResultsEvent'
                - $ref: '#/components/schemas/AnswerEvent'
                discriminator:
                  propertyName: event_name
                  mapping:
                    conversation: '#/components/schemas/ConversationEvent'
                    think: '#/components/schemas/ThinkEvent'
                    sub_questions: '#/components/schemas/SubQuestionsEvent'
                    status: '#/components/schemas/StatusEvent'
                    dialogue_id: '#/components/schemas/DialogueIdEvent'
                    search_results: '#/components/schemas/SearchResultsEvent'
                    answer: '#/components/schemas/AnswerEvent'
              examples:
                conversation_created:
                  summary: 2. Conversation Created Event
                  description: Conversation creation event - first event in the stream
                  value:
                    event_name: conversation
                    data:
                      conversation_id: 123e4567-e89b-12d3-a456-426614174000
                think_event:
                  summary: 3. Think Event
                  description: Streamed reasoning/planning process
                  value:
                    event_name: think
                    data:
                      think_piece: <PLAN_REASONING>
                sub_questions_event:
                  summary: 4. Sub Questions Event
                  description: Sub-questions generated for the current message
                  value:
                    event_name: sub_questions
                    data:
                      sub_questions:
                      - What is the latest news about JP morgan equity research asia?
                      - What is the latest news about JP morgan equity research asia?
                status_event:
                  summary: 5. Status Event - Finish
                  description: Indicates stream has completed
                  value:
                    event_name: status
                    data:
                      status: finish
                dialogue_id_event:
                  summary: 6. Dialogue ID Event
                  description: Unique identifier for the current dialogue
                  value:
                    event_name: dialogue_id
                    data:
                      dialogue_id: 123e4567-e89b-12d3-a456-426614174000
                search_results_event:
                  summary: 7. Search Results ID Event
                  description: Unique identifier for the search results
                  value:
                    event_name: search_results
                    data:
                      chat_message_id: 123e4567-e89b-12d3-a456-426614174000
                answer_event:
                  summary: 8. Answer Event
                  description: Streamed answer content
                  value:
                    event_name: answer
                    data:
                      answer_piece: Based on the latest research...
        '400':
          description: Bad Request - Invalid request parameters or incorrect format.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              examples:
                invalid_upload_period:
                  summary: Invalid upload_period format
                  value:
                    error:
                      code: INVALID_REQUEST_BODY
                      message: 'upload_period.start_time must be an object with year (integer), month (integer 1-12), and optional day (integer 1-31). Example: {"year": 2025, "month": 1, "day": 1}'
                    payload: null
                missing_query:
                  summary: Missing required field
                  value:
                    error:
                      code: INVALID_REQUEST_BODY
                      message: query is required and must be a string
                    payload: null
        '401':
          description: Unauthorized - Invalid authentication credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                error:
                  code: API_KEY_MISSING
                  msg: header does not contain api key
                  message: header does not contain api key
                payload: null
        '500':
          description: Internal Server Error - An unexpected error occurred on the server.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                error:
                  code: SERVER_ERROR
                  message: An unexpected error occurred on the server.
                payload: null
      tags:
      - Search
  /v1/analytics/sse:
    post:
      summary: Generate an analytics response via SSE
      description: 'Generate an agentic analytics response via Server-Sent Events. This endpoint leverages multi-step reasoning with tool use to deliver deeper, more comprehensive answers compared to the standard search & generate endpoints.


        The response stream includes message echo, thinking processes, tool calls with results, and the final answer.


        **Note:** Unlike `/v1/search` or `/v2/chat/sse`, this endpoint does not accept separate filter parameters (e.g., `stock_ids`, `tickers`, `external_types`, `upload_period`). Instead, include all filtering context directly in the `query` field. For example: `"Analyze AAPL earnings trend from Q1 2024 to Q4 2025"`.


        ### Event Flow


        ```

        conversation          -> conversation_id for this session

        message               -> echo of user query

        status: start         -> stream begins

        +-- AGENTIC LOOP (repeats) ----------------------------+

        |  tool_use_block     -> 1-N parallel tool calls (batch)|

        |  tool_result_block  -> results for each call          |

        |  status: keep_alive -> heartbeat (if >15s gap)        |

        |  think (x N)        -> reasoning tokens               |

        +------------------------------------------------------+

        think (x N)           -> extended reasoning / draft

        answer                -> single chunk final answer

        status: finish        -> stream ends

        ```'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AnalyticsRequest'
            example:
              query: Analyze AAPL earnings trend over the past 4 quarters
      responses:
        '200':
          description: 'SSE stream of analytics events. Each event is sent as `data: {json}\n\n`. The stream contains multiple event types in sequence. See the Event Flow section above for the typical ordering.'
          content:
            text/event-stream:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ConversationEvent'
                - $ref: '#/components/schemas/AnalyticsMessageEvent'
                - $ref: '#/components/schemas/AnalyticsStatusEvent'
                - $ref: '#/components/schemas/AnalyticsThinkEvent'
                - $ref: '#/components/schemas/AnalyticsToolUseBlockEvent'
                - $ref: '#/components/schemas/AnalyticsToolResultBlockEvent'
                - $ref: '#/components/schemas/AnalyticsAnswerEvent'
                - $ref: '#/components/schemas/AnalyticsKeepaliveEvent'
              examples:
                conversation:
                  summary: Conversation Event
                  description: First event - returns the conversation identifier for this session
                  value:
                    event_name: conversation
                    data:
                      conversation_id: 123e4567-e89b-12d3-a456-426614174000
                message:
                  summary: Message Event
                  description: Second event - echoes the user's query
                  value:
                    event_name: message
                    data:
                      message_id: 98
                      message_type: user
                      message: What are the latest NVIDIA earnings results? Compare revenue growth vs AMD.
                status_start:
                  summary: Status Start Event
                  description: Stream has started processing
                  value:
                    event_name: status
                    data:
                      status: start
                think:
                  summary: Think Event
                  description: Streamed reasoning process (sent incrementally)
                  value:
                    event_name: think
                    data:
                      think_piece: I need to look up NVIDIA's latest earnings data and compare it with AMD...
                tool_use_block:
                  summary: Tool Use Block Event
                  description: Tool invocation during analysis. Multiple may be sent in parallel.
                  value:
                    event_name: tool_use_block
                    data:
                      name: mcp__linq__factset_query
                      input:
                        sql: SELECT fe.TICKER, fp.FY_END_DATE, fp.FF_SALES FROM FF_V3.FF_BASIC_AF fp JOIN FE_V4.FE_BASIC_TICKER fe ON fe.FSYM_ID = fp.FSYM_ID WHERE fe.TICKER IN ('NVDA', 'AMD')
                tool_result_block:
                  summary: Tool Result Block Event
                  description: Result from a tool execution
                  value:
                    event_name: tool_result_block
                    data:
                      content: '{"success": true, "total_matches": 24, "results": [...]}'
                answer:
                  summary: Answer Event
                  description: Complete final answer (sent as a single event, not streamed incrementally)
                  value:
                    event_name: answer
                    data:
                      answer_piece: '## NVIDIA vs AMD: Earnings Comparison


                        NVIDIA reported record revenue of $35.1B...'
                keepalive:
                  summary: Keepalive Event
                  description: Heartbeat sent during idle periods (>15s gap between events)
                  value:
                    event_name: keepalive
                    data:
                      timestamp: '2026-02-26T22:46:50.780316'
                status_finish:
                  summary: Status Finish Event
                  description: Stream has completed
                  value:
                    event_name: status
                    data:
                      status: finish
        '400':
          description: Bad Request - Invalid request parameters or incorrect format.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                error:
                  code: INVALID_REQUEST_BODY
                  msg: query is required and must be a string
                  message: query is required and must be a string
                payload: null
        '401':
          description: Unauthorized - Invalid API key or authentication credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                error:
                  code: API_KEY_MISSING
                  msg: header does not contain api key
                  message: header does not contain api key
                payload: null
      tags:
      - Search
  /v2/analytics/sse:
    post:
      summary: Generate an analytics response via SSE (V2)
      description: 'Agentic analytics with structured source selection, hard/soft filters, and identity fields.


        - **`search_types`**: Choose sources — `rms` (internal docs), `external` (transcripts, filings), `structured`

        - **`filters.rms.hard_filters` / `soft_filters`**: Hard = exclude non-matching (AND between fields, OR within arrays). Soft = boost relevance only.

        - `organization_id` and `user_id`: Optional (required only for platform API keys)


        ## Event Flow


        ```

        conversation            ← conversation_id

        message                 ← echo of user query

        status: start           ← stream begins

        +-- AGENTIC LOOP (repeats) ---------+

        |  tool_use_block (x1-3)            |

        |  tool_result_block (x1-3)         |

        |  keepalive (~15s)                 |

        |  think (xN)                       |

        +------------------------------------+

        answer                  ← full answer with [1][2] citations

        status: finish          ← stream ends

        ```


        ## Retrieving References


        After the stream finishes, use `conversation_id` to get citation sources:


        ```

        GET /v2/analytics/conversations/{conversation_id}/references

        ```


        Returns normalized references with enriched metadata. See [Analytics V2 References](/api-reference/basic/analytics_references) for details.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AnalyticsV2Request'
            examples:
              basic:
                summary: Basic query with external sources only
                value:
                  query: What are the latest insights on AAPL performance?
                  search_types:
                    external:
                    - type: transcript
                    - type: filing
              multi_turn:
                summary: Multi-turn continuation with existing conversation
                value:
                  query: Can you also compare with MSFT?
                  conversation_id: 12345678-93ee-44bb-afb3-d60df76e31bf
                  search_types:
                    external:
                    - type: transcript
                    - type: filing
                  filters:
                    rms:
                      hard_filters:
                        tickers:
                        - AAPL US
                        - MSFT US
      responses:
        '200':
          description: 'SSE stream of analytics events. Each event is sent as `data: {json}\n\n`. Events follow the sequence: conversation → message → status:start → [agentic loop] → answer → status:finish. status:keep_alive and keepalive events are sent periodically during long tool execution gaps.'
          content:
            text/event-stream:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ConversationEvent'
                - $ref: '#/components/schemas/AnalyticsMessageEvent'
                - $ref: '#/components/schemas/AnalyticsStatusEvent'
                - $ref: '#/components/schemas/AnalyticsThinkEvent'
                - $ref: '#/components/schemas/AnalyticsToolUseBlockEvent'
                - $ref: '#/components/schemas/AnalyticsToolResultBlockEvent'
                - $ref: '#/components/schemas/AnalyticsAnswerEvent'
                - $ref: '#/components/schemas/AnalyticsKeepaliveEvent'
                - $ref: '#/components/schemas/AnalyticsCostMetadataEvent'
              examples:
                conversation:
                  summary: Conversation Event
                  description: First event — returns the conversation identifier
                  value:
                    event_name: conversation
                    data:
                      conversation_id: 7622b901-93ee-44bb-afb3-d60df76e31bf
                      message: Successfully created a conversation.
                message:
                  summary: Message Event
                  description: Second event - echoes the user's query
                  value:
                    event_name: message
                    data:
                      message_id: 98
                      message_type: user
                      message: What are the latest NVIDIA earnings results? Compare revenue growth vs AMD.
                status_start:
                  summary: Status Start Event
                  description: Stream has started processing
                  value:
                    event_name: status
                    data:
                      status: start
                think:
                  summary: Think Event
                  description: Streamed reasoning process (sent incrementally)
                  value:
                    event_name: think
                    data:
                      think_piece: I need to look up NVIDIA's latest earnings data and compare it with AMD...
                tool_use_block:
                  summary: Tool Use Block Event
                  description: Tool invocation during analysis. Multiple may be sent in parallel.
                  value:
                    event_name: tool_use_block
                    data:
                      name: mcp__linq__factset_query
                      input:
                        sql: SELECT fe.TICKER, fp.FY_END_DATE, fp.FF_SALES FROM FF_V3.FF_BASIC_AF fp JOIN FE_V4.FE_BASIC_TICKER fe ON fe.FSYM_ID = fp.FSYM_ID WHERE fe.TICKER IN ('NVDA', 'AMD')
                tool_result_block:
                  summary: Tool Result Block Event
                  description: Result from a tool execution
                  value:
                    event_name: tool_result_block
                    data:
                      content: '{"success": true, "total_matches": 24, "results": [...]}'
                answer:
                  summary: Answer Event
                  description: Complete final answer (sent as a single event, not streamed incrementally)
                  value:
                    event_name: answer
                    data:
                      answer_piece: '## NVIDIA vs AMD: Earnings Comparison


                        NVIDIA reported record revenue of $35.1B...'
                keepalive:
                  summary: Keepalive Event
                  description: Heartbeat sent during idle periods (>15s gap between events)
                  value:
                    event_name: keepalive
                    data:
                      timestamp: '2026-02-26T22:46:50.780316'
                status_finish:
                  summary: Status Finish Event
                  description: Stream has completed
                  value:
                    event_name: status
                    data:
                      status: finish
                status_keep_alive:
                  summary: Status Keep Alive Event
                  description: Sent periodically during long tool execution gaps (in addition to keepalive events)
                  value:
                    event_name: status
                    data:
                      status: keep_alive
        '400':
          description: Bad Request - Invalid request parameters or incorrect format.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                error:
                  code: INVALID_REQUEST_BODY
                  msg: query is required and must be a string
                  message: query is required and must be a string
                payload: null
        '401':
          description: Unauthorized - Invalid API key or authentication credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                error:
                  code: API_KEY_MISSING
                  msg: header does not contain api key
                  message: header does not contain api key
                payload: null
      tags:
      - Search
components:
  schemas:
    ChatSseEvent:
      type: object
      description: Base structure for all Chat SSE events
      required:
      - event_name
      - data
      properties:
        event_name:
          type: string
          enum:
          - conversation
          - status
          - think
          - sub_questions
          - dialogue_id
          - search_results
          - answer
        data:
          type: object
          description: Event-specific data payload
    ApiError:
      type: object
      properties:
        code:
          type: string
          description: 'Error code indicating the type of error. Common codes:

            - Authentication: `API_KEY_MISSING`, `INVALID_API_KEY`

            - Validation: `INVALID_REQUEST_BODY`, `ORGANIZATION_ID_MISSING`, `TICKERS_MISSING`, `CHAT_MESSAGE_ID_MISSING`, `DOCUMENT_ID_MISSING`

            - Service: `SEARCH_FAIL`, `TTS_FAIL`, `CREATE_CONV_FAIL`, `GET_STOCK_FAIL`, `CREATE_MSG_FAIL`, `ALPHA_COMP_FAIL`, `GET_REF_FAIL`

            - Connectors: `CONNECTOR_LIST_FAIL`, `CONNECTOR_NOT_FOUND`, `CONNECTOR_CREATE_FAIL`, `CONNECTOR_UPDATE_FAIL`, `CONNECTOR_DELETE_FAIL`, `CONNECTOR_TEST_FAIL`

            - Not Found: `NOT_FOUND`'
          example: INVALID_REQUEST_BODY
        msg:
          type: string
          description: Error message (deprecated, use `message` instead)
          example: query is required and must be a string
        message:
          type: string
          description: Error message providing more details about the error
          example: query is required and must be a string
      required:
      - code
    AnalyticsToolResultBlockEvent:
      description: Tool execution result event. Contains the output from a tool call.
      allOf:
      - $ref: '#/components/schemas/AnalyticsSseEvent'
      - properties:
          event_name:
            enum:
            - tool_result_block
          data:
            type: object
            required:
            - content
            properties:
              content:
                type: string
                description: JSON-encoded result from the tool execution
    DateFilter:
      type: object
      description: Date filter with year, month, and optional day
      properties:
        year:
          type: integer
          description: Year (e.g., 2025)
          example: 2025
        month:
          type: integer
          description: Month (1-12)
          minimum: 1
          maximum: 12
          example: 1
        day:
          type: integer
          description: Day of month (1-31, optional)
          minimum: 1
          maximum: 31
          example: 15
      required:
      - year
      - month
    SearchResponse:
      type: object
      properties:
        chat_message_id:
          type: string
          format: uuid
          description: Chat message ID
        search_result_count:
          type: number
          description: Search result count
        execution_time_ms:
          type: number
          description: Execution time in milliseconds
        references:
          type: array
          items:
            type: object
            properties:
              citation_idx:
                type: string
                description: Citation index
              chunk_id:
                type: string
                description: Chunk ID
              document_id:
                type: string
                description: Document ID
              text:
                type: string
                description: Text
              text_type:
                type: string
                description: Text type
              document_name:
                type: string
                description: Document name
              external_url:
                type: string
                description: External URL
              metadata:
                $ref: '#/components/schemas/ReferenceMetadata'
              custom_metadata:
                $ref: '#/components/schemas/CustomMetadata'
            required:
            - citation_idx
            - chunk_id
            - text
            - text_type
            - document_name
            - external_url
            - metadata
          description: References
      required:
      - chat_message_id
    ConversationEvent:
      description: Conversation event
      allOf:
      - $ref: '#/components/schemas/ChatSseEvent'
      - properties:
          event_name:
            enum:
            - conversation
          data:
            type: object
            required:
            - conversation_id
            properties:
              conversation_id:
                type: string
                description: Unique conversation identifier. Use for multi-turn continuation and References API.
              message:
                type: string
                description: Status message (e.g., 'Successfully created a conversation.')
            description: Event-specific data payload
    AnalyticsMessageEvent:
      description: User message echo event. Second event in the stream (after conversation), echoing the user's query.
      allOf:
      - $ref: '#/components/schemas/AnalyticsSseEvent'
      - properties:
          event_name:
            enum:
            - message
          data:
            type: object
            required:
            - message_id
            - message_type
            - message
            properties:
              message_id:
                type: integer
                description: Unique message identifier
              message_type:
                type: string
                enum:
                - user
                - assistant
                description: Type of message
              message:
                type: string
                description: The message content
    AnalyticsThinkEvent:
      description: Thinking/reasoning process stream. Sent as the model reasons through the problem.
      allOf:
      - $ref: '#/components/schemas/AnalyticsSseEvent'
      - properties:
          event_name:
            enum:
            - think
          data:
            type: object
            required:
            - think_piece
            properties:
              think_piece:
                type: string
                description: A piece of the thinking/reasoning process (streamed incrementally)
    ChatSseV2Request:
      type: object
      properties:
        query:
          type: string
          description: A search query
          example: What are the latest updates on AAPL?
        conversation_id:
          type: string
          format: uuid
          description: 'Conversation id (optional)


            Every user-initiated chat is grouped under a conversation. A conversation contains one or more messages generated either by the user or LinqAlpha. Use the conversation_id to track the context of previous interactions.'
          example: 123e4567-e89b-12d3-a456-426614174000
        stock_ids:
          type: array
          items:
            type: string
          description: Bloomberg stock IDs (optional)
          example:
          - BBG001S5N8V8
        tickers:
          type: array
          items:
            type: string
          description: Ticker symbols (optional)
          example:
          - AAPL
        external_types:
          type: array
          items:
            type: string
          description: External document types (optional, defaults to ["transcript", "filing", "news", "ir_slide"])
          default:
          - transcript
          - filing
          - news
          - ir_slide
          example:
          - transcript
          - filing
          - news
          - ir_slide
        top_k:
          type: number
          description: 'Specifies the number of top search results to return.

            If the value exceeds 50, it will be capped at 50

            The number of returned results will be less than or equal to the specified top_k value.

            Results are sorted by relevancy in descending order (from highest to lowest).'
          example: 50
        upload_period:
          type: object
          description: Filter documents by upload date range. At least one of start_time or end_time must be provided.
          properties:
            start_time:
              $ref: '#/components/schemas/DateFilter'
            end_time:
              $ref: '#/components/schemas/DateFilter'
          example:
            start_time:
              year: 2025
              month: 1
              day: 1
            end_time:
              year: 2026
              month: 1
              day: 17
      required:
      - query
    AnalyticsToolUseBlockEvent:
      description: Tool invocation event. Indicates a tool is being called during analysis. Multiple tool_use_block events may be sent in parallel batches.
      allOf:
      - $ref: '#/components/schemas/AnalyticsSseEvent'
      - properties:
          event_name:
            enum:
            - tool_use_block
          data:
            type: object
            required:
            - name
            - input
            properties:
              name:
                type: string
                description: Name of the tool being called (e.g., mcp__linq__manticore_sql, mcp__linq__factset_query)
                example: mcp__linq__manticore_sql
              input:
                type: object
                description: Input arguments passed to the tool. Structure varies by tool.
                additionalProperties: true
    AnalyticsKeepaliveEvent:
      description: Heartbeat event sent periodically (every ~15s during idle periods) to keep the connection alive.
      allOf:
      - $ref: '#/components/schemas/AnalyticsSseEvent'
      - properties:
          event_name:
            enum:
            - keepalive
          data:
            type: object
            required:
            - timestamp
            properties:
              timestamp:
                type: string
                format: date-time
                description: ISO 8601 timestamp of the keepalive event
                example: '2026-02-26T22:46:50.780316'
    AnalyticsStatusEvent:
      description: Stream status event indicating start, finish, or keep_alive of the analytics stream.
      allOf:
      - $ref: '#/components/schemas/AnalyticsSseEvent'
      - properties:
          event_name:
            enum:
            - status
          data:
            type: object
            required:
            - status
            properties:
              status:
                type: string
                enum:
                - start
                - finish
                - keep_alive
                description: Stream lifecycle status. 'keep_alive' is sent periodically during long tool execution gaps.
    AnalyticsV2Request:
      type: object
      properties:
        organization_id:
          type: string
          format: uuid
          description: Organization ID
        user_id:
          type: string
          format: uuid
          description: User ID
        user_email:
          type: string
          format: email
          description: User email
        user_name:
          type: string
          description: User name
        query:
          type: string
          description: The analytics query to process.
          example: What are the latest insights on AAPL earnings?
        conversation_id:
          type: string
          nullable: true
          description: Existing conversation ID for multi-turn continuation. Omit or null for new conversation.
        search_types:
          type: object
          nullable: true
          description: Structured source selection. Controls which document sources to query. Omitting a category means don't search it.
          properties:
            rms:
              type: array
              nullable: true
              items:
                type: object
                properties:
                  workspace:
                    type: string
                    enum:
                    - personal
                    - organization
                    description: Workspace scope
                  source:
                    type: string
                    nullable: true
                    description: 'Source type for this RMS selection. For Vault-uploaded documents (referenced by their rms_document_id in document_ids), you MUST set source to "vault". If omitted, the documents are searched generically: they are not retrieved for direct file citation, the answer''s [N] markers won''t resolve, and GET /v2/analytics/conversations/{id}/references returns an empty list.'
                  type:
                    type: string
                    nullable: true
                  subtypes:
                    type: array
                    items:
                      type: string
                    nullable: true
                  container_ids:
                    type: array
                    items:
                      type: string
                    nullable: true
                  document_ids:
                    type: array
                    items:
                      type: string
                    nullable: true
                required:
                - workspace
            external:
              type: array
              nullable: true
              description: Third-party sources
              items:
                type: object
                properties:
                  type:
                    type: string
                  subtypes:
                    type: array
                    items:
                      type: string
                    nullable: true
                  document_ids:
                    type: array
                    items:
                      type: string
                    nullable: true
                required:
                - type
            structured:
              type: array
              nullable: true
              items:
                type: object
                properties:
                  type:
                    type: string
                required:
                - type
        filters:
          type: object
          nullable: true
          description: Metadata filters. Hard filters exclude non-matching documents (AND between fields, OR within arrays). Soft filters boost relevance without excluding.
          properties:
            rms:
              type: object
              nullable: true
              properties:
                hard_filters:
                  type: object
                  nullable: true
                  description: Strict metadata constraints for internal sources. AND between fields, OR within arrays.
                soft_filters:
                  type: object
                  nullable: true
                  description: Preferred but not required metadata for internal sources. Boosts relevance.
            external:
              type: object
              nullable: true
              properties:
                soft_filters:
                  type: object
                  nullable: true
                  description: Preferred metadata for external sources. No hard filters on external by design.
        connectors:
          type: array
          nullable: true
          description: Customer MCP connectors to enable for this analytics request.
          items:
            type: object
            additionalProperties: true
            properties:
              name:
                type: string
                description: Connector name
              tool_filter:
                type: array
                nullable: true
                items:
                  type: string
                description: Optional tool allow-list for this connector
            required:
            - name
        disabled_connectors:
          type: array
          nullable: true
          description: Connector names to disable for this analytics request.
          items:
            type: string
      required:
      - query
    SubQuestionsEvent:
      description: Sub-questions event
      allOf:
      - $ref: '#/components/schemas/BaseSseEvent'
      - properties:
          event_name:
            enum:
            - sub_questions
          data:
            type: object
            required:
            - sub_questions
            properties:
              sub_questions:
                type: array
                description: Sub-questions
                items:
                  type: string
                  description: Sub-question
    CustomMetadata:
      type: object
      nullable: true
      description: User-defined metadata. This field may contain additional structured data based on the document type and user configuration.
      properties:
        edgar_metadata:
          type: object
          description: SEC EDGAR filing metadata. This field is only available for SEC filing documents and is provided upon request. Not all users will have access to this data. Contact support@linqalpha.com to enable EDGAR metadata for your organization.
          properties:
            public_url:
              type: string
              format: uri
              description: Public EDGAR URL to the source filing document on the SEC website
              example: https://www.sec.gov/Archives/edgar/data/1045810/000104581023000227/nvda-20231029.htm
            accession_number:
              type: string
              description: 'SEC accession number uniquely identifying the filing. Format: XXXXXXXXXX-XX-XXXXXX'
              example: 0001045810-23-000227
              pattern: ^\d{10}-\d{2}-\d{6}$
            filing_values:
              type: object
              description: Additional SEC filing identifiers
              properties:
                film_number:
                  type: string
                  description: SEC film number assigned to the filing
                  example: '231428716'
                sec_file_number:
                  type: string
                  description: SEC file number for the registrant
                  example: 000-23985
          required:
          - public_url
          - accession_number
    SearchResultsEvent:
      description: Search result id streaming event
      allOf:
      - $ref: '#/components/schemas/ChatSseEvent'
      - properties:
          event_name:
            enum:
            - search_results
          data:
            type: object
            required:
            - chat_message_id
            properties:
              chat_message_id:
                type: string
                description: Chat message id (You can retrieve search_results using the chat_message_id through the references API.)
    DialogueIdEvent:
      type: object
      description: Dialogue id streaming event
      allOf:
      - $ref: '#/components/schemas/ChatSseEvent'
      - properties:
          event_name:
            enum:
            - dialogue_id
          data:
            type: object
            required:
            - dialogue_id
            properties:
              dialogue_id:
                type: string
                description: 'A unique identifier (UUID) that represents a specific dialogue or message exchange within a chat session. This ID is provided as an event during the chat process, appearing in the stream before any think events.


                  The dialogue_id serves to uniquely identify individual dialogue instances within a chat session, enabling precise control over message streaming and interruption. Here, a dialogue is defined as a single question and answer pair - so a single chat_session is composed of a sequence of dialogues.


                  Unlike using only the chat_session_id, the dialogue_id prevents race conditions that could occur when multiple windows or instances interact with the same chat session simultaneously. '
    BaseSseEvent:
      type: object
      description: Base structure for SSE events
      required:
      - event_name
      - data
      properties:
        event_name:
          type: string
          enum:
          - status
          - research_progress
          - round
          - think
          - sub_questions
          - tool_call
          - tool_response
          - search_results
          - answer
          description: Type of SSE event
        data:
          type: object
          description: Event-specific data payload
    AnalyticsRequest:
      type: object
      properties:
        query:
          type: string
          description: The analytics query to process. Include ticker symbols, date ranges, and any other filtering context directly in the query text (e.g., "Compare MSFT and GOOG revenue growth from 2023 to 2025").
        conversation_id:
          type: string
          nullable: true
          description: Existing conversation ID to continue a multi-turn conversation. Omit or set to null for a new conversation.
        organization_id:
          type: string
          format: uuid
          description: Organization ID. Required for platform API keys to identify the target organization.
          example: 123e4567-e89b-12d3-a456-426614174000
        user_id:
          type: string
          description: User ID. Required together with `user_email` for platform API keys to identify the specific user.
          example: user-123
        user_email:
          type: string
          format: email
          description: User email. Required together with `user_id` for platform API keys to identify the specific user.
          example: john.doe@example.com
      required:
      - query
    SearchRequest:
      type: object
      properties:
        query:
          type: string
          description: A search query
          example: What are the latest updates on AAPL?
        stock_ids:
          type: array
          items:
            type: string
          description: Bloomberg stock IDs (optional)
          example:
          - BBG001S5N8V8
        tickers:
          type: array
          items:
            type: string
          description: Ticker symbols (optional)
          example:
          - AAPL
        external_types:
          type: array
          items:
            type: string
          description: External document types (optional, defaults to ["transcript", "filing", "news", "ir_slide"])
          default:
          - transcript
          - filing
          - news
          - ir_slide
          example:
          - transcript
          - filing
          - news
          - ir_slide
        top_k:
          type: number
          description: 'Specifies the number of top search results to return.

            If the value exceeds 50, it will be capped at 50

            The number of returned results will be less than or equal to the specified top_k value.

            Results are sorted by relevancy in descending order (from highest to lowest).'
          example: 50
        upload_period:
          type: object
          description: Filter documents by upload date range. At least one of start_time or end_time must be provided.
          properties:
            start_time:
              $ref: '#/components/schemas/DateFilter'
            end_time:
              $ref: '#/components/schemas/DateFilter'
          example:
            start_time:
              year: 2025
              month: 1
              day: 1
            end_time:
              year: 2026
              month: 1
              day: 17
        search_types:
          type: array
          items:
            type: string
            enum:
            - rms
            - external
            - all
          description: Types of search to perform
          example:
          - rms
          - external
        rms_types:
          type: array
          items:
            type: string
          description: Filter by RMS document type. Only applies when `search_types` includes `rms`.
          nullable: true
        rms_sub_types:
          type: array
          items:
            type: string
          description: Filter by RMS document subtype within `rms_types`.
          nullable: true
      required:
      - query
    AnswerEvent:
      description: Final answer streaming event
      allOf:
      - $ref: '#/components/schemas/BaseSseEvent'
      - properties:
          event_name:
            enum:
            - answer
          data:
            type: object
            required:
            - answer_piece
            properties:
              answer_piece:
                type: string
                description: A piece of the final answer (streamed incrementally). Citations are embedded as [hash] format.
                example: '### Executive Summary'
    StatusEvent:
      description: Stream status event (start/finish)
      allOf:
      - $ref: '#/components/schemas/BaseSseEvent'
      - properties:
          event_name:
            enum:
            - status
          data:
            type: object
            required:
            - status
            properties:
              status:
                type: string
                enum:
                - start
                - finish
                description: Stream status indicator
    AnalyticsAnswerEvent:
      description: Final answer event. Contains the complete answer in a single event (not streamed incrementally).
      allOf:
      - $ref: '#/components/schemas/AnalyticsSseEvent'
      - properties:
          event_name:
            enum:
            - answer
          data:
            type: object
            required:
            - answer_piece
            properties:
              answer_piece:
                type: string
                description: The complete final answer content. Unlike other SSE endpoints, analytics sends the full answer in a single event rather than streaming it incrementally.
    AnalyticsSseEvent:
      type: object
      description: Base structure for all Analytics SSE events
      required:
      - event_name
      - data
      properties:
        event_name:
          type: string
          enum:
          - message
          - status
          - think
          - tool_use_block
          - tool_result_block
          - answer
          - keepalive
          description: Type of event in the analytics stream
        data:
          type: object
          description: Event-specific data payload
    ReferenceMetadata:
      type: object
      description: Additional metadata information
      properties:
        source:
          type: string
          nullable: true
          example: news
        rms_type:
          type: string
          enum:
          - emailnotes
          - generalnotes
          - templatednotes
          - custom-data
          - structured-data
          - public_transcript
          - private_transcript
          nullable: true
        rms_sub_type:
          type: string
          nullable: true
        rms_document_type:
          type: string
          enum:
          - note
          - attachment
          nullable: true
        parent_id:
          type: string
          nullable: true
        parent_document_id:
          type: string
          nullable: true
        countries:
          type: array
          items:
            type: string
          nullable: true
        regions:
          type: array
          items:
            type: string
          nullable: true
        participants:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              organization:
                type: string
              role:
                type: string
                nullable: true
              participant_type:
                type: string
                enum:
                - author
                - analyst
                - attendee
                - mentioned
                - others
                nullable: true
          nullable: true
        tags:
          type: array
          items:
            type: string
          nullable: true
        publisher:
          type: string
          nullable: true
        calendar_date:
          type: string
          format: date-time
          nullable: true
        creation_timestamp:
          type: string
          nullable: true
        last_contribution_timestamp:
          type: string
          nullable: true
        creator_name:
          type: string
          description: Name of the user who created the document
          nullable: true
        last_contributor_name:
          type: string
          description: Name of the user who last contributed to the document
          nullable: true
        fiscal_year:
          type: integer
          nullable: true
        fiscal_quarter:
          type: string
          nullable: true
        document_category:
          type: string
          enum:
          - internal
          - brokerage
          - expert_network
          - corporate_data
          - external
          - earnings_call
          - filing
          nullable: true
        document_subcategory:
          type: string
          enum:
          - calls
          - model
          - analysis
          - report
          - filings
          - ir_slide
          - factsheet
          - email
          - earning
          - slides
          - 10-K
          - 10-Q
          - 6-K
          - 8-K
          - DEF 14A
          - 20-F
          - annual_results
          - interim_results
          - annual_report
          - interim_report
          - offerings
          - others
          nullable: true
        document_tags:
          type: array
          items:
            type: string
          nullable: true
        sector:
          type: array
          items:
            type: string
            enum:
            - Basic Materials
            - Consumer Cyclicals
            - Consumer Staples
            - Energy
            - Financial Services
            - Healthcare
            - Industrials
            - Technology
            - Transportation
            - Telecom Services
            - Utilities
          nullable: true
        subsector:
          type: array
          items:
            type: string
            enum:
            - Agriculture
            - Chemicals
            - Metals & Mining
            - Paper & Forest
            - Steel
            - Automobiles
            - Branded Consumer Goods
            - Business Services
            - Consumer Cyclicals
            - Consumer Durables
            - Education
            - Entertainment & Leisure
            - Gaming
            - Housing
            - Lodging
            - Media
            - Restaurants & Pubs
            - Retail
            - Textile
            - Apparel & Footwear
            - Travel
            - Beverages
            - Consumer Products
            - Food
            - Tobacco
            - Clean Energy
            - Energy
            - Gas
            - Oil
            - Oil Services
            - Banks
            - Brokers & Asset Managers
            - Capital Markets
            - Diversified Financials
            - Insurance
            - Real Estate
            - Specialty Finance
            - Biotechnology
            - Healthcare Services
            - Life Sciences
            - Medical Technology
            - Pharmaceuticals
            - Aerospace & Defense
            - Capital Goods
            - Construction
            - Electrical Equipment
            - Environmental Services
            - Machinery
            - Machinery & Diversified Industrials
            - Multi-Industry
            - Packaging
            - Communications Technology
            - Hardware
            - Info Services
            - Integrated Electricals
            - Internet
            - IT Services
            - IT Supply Chain
            - Semiconductors
            - Software
            - Technology
            - Air Freight
            - Airlines
            - Airports
            - Infrastructure
            - Logistics
            - Railroads
            - Shipping
            - Trucking
            - Communication Services
            - Satellite
            - Telecom Wireless
            - Towers
            - Diversified
            - MLPs
            - Power
            - Utilities
            - Water
          nullable: true
        stock_ids:
          type: array
          items:
            type: string
          nullable: true
        tickers:
          type: array
          items:
            type: string
          nullable: true
        company_names:
          type: array
          items:
            type: string
          nullable: true
        offset:
          type: array
          nullable: true
          items:
            type: object
            properties:
              top:
                type: number
              left:
                type: number
              width:
                type: number
              height:
                type: number
              page:
                type: integer
        blocks:
          type: array
          items:
            type: integer
          nullable: true
          description: Transcript block indices for this chunk.
    ApiErrorResponse:
      type: object
      description: Standard error response wrapper
      properties:
        error:
          $ref: '#/components/schemas/ApiError'
        payload:
          description: Always null for error responses
          nullable: true
      required:
      - error
      - payload
    ThinkEvent:
      description: Thinking/reasoning process stream
      allOf:
      - $ref: '#/components/schemas/BaseSseEvent'
      - properties:
          event_name:
            enum:
            - think
          data:
            type: object
            required:
            - think_piece
            properties:
              think_piece:
                type: string
                description: A piece of the thinking/reasoning process (streamed incrementally)
                example: <PLAN_REASONING>
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-KEY
