{
  "openapi": "3.0.1",
  "info": {
    "title": "LinqAlpha API",
    "description": "Linq helps finance professionals make informed decisions using Retrieval-Augmented Generation (RAG)-enhanced answers. By leveraging cutting-edge Large Language Models (LLM) and supplementary technology, Linq provides the most optimized responses based on your queries.",
    "version": "1.0.0",
    "license": {
      "name": "MIT"
    }
  },
  "servers": [
    {
      "url": "https://api.linqalpha.com"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Search",
      "description": "Search and generate responses"
    },
    {
      "name": "Data",
      "description": "Data retrieval and mapping"
    },
    {
      "name": "Feedback",
      "description": "Conversation feedback"
    },
    {
      "name": "RMS",
      "description": "Research Management System"
    },
    {
      "name": "Source Management",
      "description": "Source batch and file management"
    },
    {
      "name": "MCP",
      "description": "LinqAlpha MCP — Financial data tools for AI assistants via Model Context Protocol"
    },
    {
      "name": "Connectors",
      "description": "Customer Connectors — customer-owned MCP connector management"
    },
    {
      "name": "Briefing",
      "description": "Briefing Agent — automated market briefings with scheduling and delivery"
    },
    {
      "name": "Status",
      "description": "Sync status — check organization, document, and container sync progress"
    }
  ],
  "paths": {
    "/v1/organizations": {
      "post": {
        "summary": "Create Organization",
        "description": "Creates a new organization with the specified parameters.\n\n**Note**: This feature is available to a limited set of users only. Access requires a separate onboarding process, which will be provided upon request. For more information, please contact us at [support@linqalpha.com](mailto:support@linqalpha.com)",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOrganizationRequest"
              },
              "example": {
                "id": "organization_001",
                "name": "Example Investment Fund",
                "s3_path": "s3://example-bucket/organization_001/"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Organization created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateOrganizationResponse"
                },
                "example": {
                  "organization_id": "123e4567-e89b-12d3-a456-426614174000",
                  "error": null
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid request parameters or incorrect format.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "example": {
                  "error": {
                    "code": "ORGANIZATION_ID_MISSING",
                    "msg": "organization id is required",
                    "message": "organization id is required"
                  },
                  "payload": null
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid API key or authentication credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "example": {
                  "error": {
                    "code": "API_KEY_MISSING",
                    "msg": "header does not contain api key",
                    "message": "header does not contain api key"
                  },
                  "payload": null
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - An unexpected error occurred on the server.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "example": {
                  "error": {
                    "code": "SERVER_ERROR",
                    "message": "An unexpected error occurred on the server."
                  },
                  "payload": null
                }
              }
            }
          }
        },
        "tags": [
          "RMS"
        ]
      }
    },
    "/v1/source_batches": {
      "post": {
        "summary": "Create Source Batch",
        "description": "Creates a new source batch container for organizing and managing related document sources. A source batch acts as a logical grouping that must be created before uploading any sources. The returned `source_batch_id` is required when creating sources and can be used to reference all contained sources in chat or search requests.\n\n**Workflow:**\n1. Create a source batch (this endpoint)\n2. Upload sources to the batch using the returned `source_batch_id`\n3. Use the `source_batch_id` in chat/search API requests to access all sources in the batch",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSourceBatchRequest"
              },
              "example": {
                "name": "Q4_Financial_Reports",
                "description": "Financial documents for Q4 2024 analysis"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Source batch created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateSourceBatchResponse"
                },
                "example": {
                  "source_batch_id": "123e4567-e89b-12d3-a456-426614174000"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters"
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key"
          }
        },
        "tags": [
          "Source Management"
        ]
      }
    },
    "/v1/sources/upload_url": {
      "post": {
        "summary": "Get Upload URL",
        "description": "Returns a presigned S3 PUT URL for direct file upload. Lets clients upload files without managing AWS credentials or staging buckets — the server signs a single-use URL bound to a server-generated S3 object key, the client PUTs the file body to that URL, then registers the upload via `POST /v1/sources` with the returned `file_key`.\n\n**Why this exists:** `POST /v1/sources` requires a `file_key` for an object that already exists in our backing storage. Customers without their own staging bucket use this endpoint to obtain an upload URL pointed at the canonical destination directly, eliminating any client-side AWS setup.\n\n**Important — Content-Type binding:** The presigned URL is signed with `Content-Type` baked into the signature. The client **MUST** send a matching `Content-Type` header on the PUT request, otherwise S3 rejects with HTTP 403 (`SignatureDoesNotMatch`). The expected value is returned in the `content_type` field of this response — pass it back as the `Content-Type` header on your PUT.\n\n**Workflow:**\n1. Create a source batch via `POST /v1/source_batches` (returns `source_batch_id`)\n2. Call this endpoint with `name`, `source_type`, `source_batch_id` (returns `upload_url`, `file_key`, `content_type`, `expires_in`)\n3. PUT the file to `upload_url` with `Content-Type: <content_type>` header\n4. Register the source via `POST /v1/sources` with `file_key` from step 2\n5. Poll `GET /v1/sources/{source_id}` until `status: \"success\"`\n6. Reference `source_batch_id` in chat/search requests\n\n**Constraints:**\n- Supported `source_type`: `pdf`, `docx`, `xlsx`, `pptx`, `doc`, `txt`\n- Maximum file size enforced at registration step: 20MB\n- Maximum 10 active sources (status: `processing` or `success`) per source_batch — `failed`/`deleted` sources do not count toward the limit (enforced when generating the URL)\n- URL expires after 10 minutes (`expires_in: 600`)\n- File is validated at registration time (`POST /v1/sources`); a wrong-content upload will be accepted by S3 but rejected when registering",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UploadUrlRequest"
              },
              "example": {
                "name": "Q4_Revenue_Report.pdf",
                "source_type": "pdf",
                "source_batch_id": "123e4567-e89b-12d3-a456-426614174000"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Presigned upload URL generated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadUrlResponse"
                },
                "example": {
                  "upload_url": "https://linq-vertex-documents.s3.amazonaws.com/uploads/1715000000000_a1b2c3d4_Q4_Revenue_Report.pdf/original.pdf?X-Amz-Algorithm=...&X-Amz-Signature=...",
                  "file_key": "uploads/1715000000000_a1b2c3d4_Q4_Revenue_Report.pdf/original.pdf",
                  "content_type": "application/pdf",
                  "expires_in": 600
                }
              }
            }
          },
          "400": {
            "description": "Bad request — invalid `source_type` or missing required fields"
          },
          "401": {
            "description": "Unauthorized — invalid or missing API key"
          },
          "404": {
            "description": "Source batch not found or not accessible to the caller"
          },
          "422": {
            "description": "Source batch already contains the maximum number of sources (10)"
          }
        },
        "tags": [
          "Source Management"
        ]
      }
    },
    "/v1/sources": {
      "post": {
        "summary": "Create Source",
        "description": "Registers a previously-uploaded file as a document source under a source batch and queues it for asynchronous parsing. Once `status: \"success\"`, the source is searchable in chat/search conversations that reference its `source_batch_id`.\n\n**Important Notes:**\n- **Prerequisite:** A source batch must be created first using `POST /v1/source_batches`\n- **The file must already be in S3** before calling this endpoint. Two ways to get it there:\n  - **Recommended:** call `POST /v1/sources/upload_url` to obtain a presigned PUT URL, upload the file directly via that URL, then pass the returned `file_key` here. No client-side AWS setup required.\n  - **Alternative:** if you already have your own S3 staging bucket integrated with us, upload there and pass the resulting `file_key`.\n- **Processing:** Sources are queued for asynchronous processing. Use `GET /v1/sources/{source_id}` to poll the processing status before using in conversations.\n- **File Requirements:**\n  - Supported formats: PDF, DOCX, XLSX, DOC, TXT, PPTX\n  - Maximum size: 20MB per file\n  - Maximum files per batch: 10 files\n- **Usage in Conversations:**\n  - Reference sources via `source_batch_id` in chat/search API requests\n  - All sources in a batch are accessible when the batch is referenced\n  - Sources remain available for reuse within conversations that reference their batch\n\n**Workflow (presigned-URL path):**\n1. `POST /v1/source_batches` → `source_batch_id`\n2. `POST /v1/sources/upload_url` → `upload_url`, `file_key`, `content_type`\n3. PUT the file body to `upload_url` with header `Content-Type: <content_type>`\n4. `POST /v1/sources` (this endpoint) with `file_key` from step 2\n5. Poll `GET /v1/sources/{source_id}` until `status: \"success\"`\n6. Reference `source_batch_id` in chat/search requests",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSourceRequest"
              },
              "example": {
                "source_batch_id": "123e4567-e89b-12d3-a456-426614174000",
                "name": "Q4_Revenue_Report.pdf",
                "file_key": "uploaded_sources/2024/q4/revenue_report.pdf"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Source created and queued for processing",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateSourceResponse"
                },
                "example": {
                  "source_id": "456e7890-e89b-12d3-a456-426614174001",
                  "size": 2048576,
                  "status": "processing"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid file format, size exceeded, or invalid source_batch_id"
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key"
          },
          "404": {
            "description": "Source batch not found"
          }
        },
        "tags": [
          "Source Management"
        ]
      }
    },
    "/v1/sources/{source_id}": {
      "get": {
        "summary": "Get Source Status",
        "description": "Retrieves the current processing status of an uploaded source. Use this endpoint to poll source readiness before including it in chat or search requests.\n\n**Status Values:**\n- `processing`: Source is being parsed and indexed (typically takes 10-60 seconds depending on file size)\n- `success`: Source is ready for use in conversations\n- `failed`: Processing failed (check file format, size, or content validity)\n\n**Best Practice:** Poll this endpoint with exponential backoff until status is `success` before initiating chat/search requests.",
        "parameters": [
          {
            "name": "source_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "The unique identifier (UUID) of the source returned from POST /v1/sources",
            "example": "456e7890-e89b-12d3-a456-426614174001"
          }
        ],
        "responses": {
          "200": {
            "description": "Source status retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetSourceResponse"
                },
                "examples": {
                  "processing": {
                    "summary": "Source is being processed",
                    "value": {
                      "source_id": "456e7890-e89b-12d3-a456-426614174001",
                      "status": "processing"
                    }
                  },
                  "success": {
                    "summary": "Source is ready",
                    "value": {
                      "source_id": "456e7890-e89b-12d3-a456-426614174001",
                      "status": "success"
                    }
                  },
                  "failed": {
                    "summary": "Processing failed",
                    "value": {
                      "source_id": "456e7890-e89b-12d3-a456-426614174001",
                      "status": "failed",
                      "error": "Unsupported file format or corrupted file"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key"
          },
          "404": {
            "description": "Source not found"
          }
        },
        "tags": [
          "Source Management"
        ]
      }
    },
    "/v1/rms_chat": {
      "post": {
        "summary": "RMS Chat (SSE - Stream)",
        "description": "Generate a response using the RMS (Research Management System) with streaming server-sent events. This endpoint provides enhanced search capabilities with organization-specific data and customizable document types.\n\n**Note**: This feature is available to a limited set of users only. Access requires a separate onboarding process, which will be provided upon request. For more information, please contact us at [support@linqalpha.com](mailto:support@linqalpha.com)",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RmsChatRequest"
              },
              "example": {
                "organization_id": "123e4567-e89b-12d3-a456-426614174000",
                "conversation_id": "987e6543-e21b-32d3-c654-426614174999",
                "user_id": "123e4567-e89b-12d3-a456-426614174000",
                "user_email": "john.doe@example.com",
                "user_name": "John Doe",
                "query": "What are the latest insights on AAPL performance?",
                "search_types": [
                  "rms",
                  "external"
                ],
                "external_types": [
                  "transcript",
                  "filing",
                  "news",
                  "ir_slide"
                ],
                "rms_types": [
                  "emailnotes",
                  "generalnotes"
                ],
                "stock_ids": [
                  "BBG001S5N8V8"
                ],
                "per_event_size": 0,
                "per_event_sleep_time": 0.01,
                "source_batch_id": "123e4567-e89b-12d3-a456-426614174000",
                "fiscal_period": {
                  "start_time": {
                    "year": 2023,
                    "quarter": 1
                  },
                  "end_time": {
                    "year": 2024,
                    "quarter": 3
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "SSE stream response with RMS search results",
            "content": {
              "text/event-stream": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ConversationEvent"
                    },
                    {
                      "$ref": "#/components/schemas/DialogueIdEvent"
                    },
                    {
                      "$ref": "#/components/schemas/ThinkEvent"
                    },
                    {
                      "$ref": "#/components/schemas/SubQuestionsEvent"
                    },
                    {
                      "$ref": "#/components/schemas/StatusEvent"
                    },
                    {
                      "$ref": "#/components/schemas/DialogueIdEvent"
                    },
                    {
                      "$ref": "#/components/schemas/SearchResultsEvent"
                    },
                    {
                      "$ref": "#/components/schemas/AnswerEvent"
                    }
                  ],
                  "discriminator": {
                    "propertyName": "event_name",
                    "mapping": {
                      "conversation": "#/components/schemas/ConversationEvent",
                      "dialogue_id": "#/components/schemas/DialogueIdEvent",
                      "think": "#/components/schemas/ThinkEvent",
                      "sub_questions": "#/components/schemas/SubQuestionsEvent",
                      "status": "#/components/schemas/StatusEvent",
                      "search_results": "#/components/schemas/SearchResultsEvent",
                      "answer": "#/components/schemas/AnswerEvent"
                    }
                  }
                },
                "examples": {
                  "conversation_created": {
                    "summary": "1) Conversation Created",
                    "description": "Created conversation ID",
                    "value": {
                      "event_name": "conversation",
                      "data": {
                        "conversation_id": "123e4567-e89b-12d3-a456-426614174000"
                      }
                    }
                  },
                  "dialogue_id_event": {
                    "summary": "2) Dialogue ID",
                    "description": "Dialogue ID for stream control/stop",
                    "value": {
                      "event_name": "dialogue_id",
                      "data": {
                        "dialogue_id": "987e6543-e21b-32d3-c654-426614174999"
                      }
                    }
                  },
                  "think_event": {
                    "summary": "3) Think",
                    "description": "Model's planning/reasoning piece (streaming)",
                    "value": {
                      "event_name": "think",
                      "data": {
                        "think_piece": "<PLAN_REASONING>"
                      }
                    }
                  },
                  "sub_questions_event": {
                    "summary": "4) Sub Questions",
                    "description": "Sub-question generation result",
                    "value": {
                      "event_name": "sub_questions",
                      "data": {
                        "sub_questions": [
                          "What are the key points of AAPL's recent performance?",
                          "What is the summary of the Brokerage Research?"
                        ]
                      }
                    }
                  },
                  "search_results_event": {
                    "summary": "5) Search Results ID",
                    "description": "Provide chat_message_id for reference lookup",
                    "value": {
                      "event_name": "search_results",
                      "data": {
                        "chat_message_id": "123e4567-e89b-12d3-a456-426614174000"
                      }
                    }
                  },
                  "answer_event": {
                    "summary": "6) Answer",
                    "description": "Final answer piece (streaming)",
                    "value": {
                      "event_name": "answer",
                      "data": {
                        "answer_piece": "Based on the latest research..."
                      }
                    }
                  },
                  "status_finish": {
                    "summary": "7) Status Finish",
                    "description": "Stream end",
                    "value": {
                      "event_name": "status",
                      "data": {
                        "status": "finish"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid request parameters or incorrect format.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "example": {
                  "error": {
                    "code": "CREATE_CONV_FAIL",
                    "message": "RMS conversation could not be created."
                  },
                  "payload": null
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid authentication credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "example": {
                  "error": {
                    "code": "API_KEY_MISSING",
                    "msg": "header does not contain api key",
                    "message": "header does not contain api key"
                  },
                  "payload": null
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - No permission to access this resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "example": {
                  "error": {
                    "code": "FORBIDDEN",
                    "message": "Access denied: insufficient permissions."
                  },
                  "payload": null
                }
              }
            }
          },
          "404": {
            "description": "Not Found - The requested resource does not exist.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "example": {
                  "error": {
                    "code": "NOT_FOUND",
                    "message": "The requested resource was not found."
                  },
                  "payload": null
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - An unexpected error occurred on the server.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "example": {
                  "error": {
                    "code": "SERVER_ERROR",
                    "message": "An unexpected error occurred on the server."
                  },
                  "payload": null
                }
              }
            }
          }
        },
        "tags": [
          "RMS"
        ]
      }
    },
    "/v1/rms_deep_research": {
      "post": {
        "summary": "RMS Deep Research",
        "description": "Generate a response using the RMS (Research Management System) with deep research capabilities. This endpoint provides enhanced search capabilities with organization-specific data and customizable document types.\n\n**Note**:This feature is available to a limited set of users only. Access requires a separate onboarding process, which will be provided upon request. For more information, please contact us at [support@linqalpha.com](mailto:support@linqalpha.com)",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RmsChatRequest"
              },
              "example": {
                "organization_id": "123e4567-e89b-12d3-a456-426614174000",
                "conversation_id": "987e6543-e21b-32d3-c654-426614174999",
                "user_id": "123e4567-e89b-12d3-a456-426614174000",
                "user_email": "john.doe@example.com",
                "user_name": "John Doe",
                "query": "What are the latest insights on AAPL performance?",
                "search_types": [
                  "rms",
                  "external"
                ],
                "external_types": [
                  "transcript",
                  "filing",
                  "news",
                  "ir_slide"
                ],
                "rms_types": [
                  "emailnotes",
                  "generalnotes"
                ],
                "document_ids": [
                  "123e4567-e89b-12d3-a456-426614174000"
                ],
                "container_ids": [
                  "123e4567-e89b-12d3-a456-426614174000"
                ],
                "stock_ids": [
                  "BBG001S5N8V8"
                ],
                "per_event_size": 0,
                "per_event_sleep_time": 0.01,
                "upload_period": {
                  "start_time": {
                    "year": 2023,
                    "month": 1,
                    "day": 1
                  },
                  "end_time": {
                    "year": 2024,
                    "month": 12,
                    "day": 31
                  }
                },
                "fiscal_period": {
                  "start_time": {
                    "year": 2023,
                    "quarter": 1
                  },
                  "end_time": {
                    "year": 2024,
                    "quarter": 3
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "SSE stream of research events. Each event is sent as `data: {json}\\n\\n`",
            "content": {
              "text/event-stream": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ConversationEvent"
                    },
                    {
                      "$ref": "#/components/schemas/ChatMessageEvent"
                    },
                    {
                      "$ref": "#/components/schemas/StatusEvent"
                    },
                    {
                      "$ref": "#/components/schemas/KeepAliveEvent"
                    },
                    {
                      "$ref": "#/components/schemas/DialogueIdEvent"
                    },
                    {
                      "$ref": "#/components/schemas/ResearchProgressEvent"
                    },
                    {
                      "$ref": "#/components/schemas/RoundEvent"
                    },
                    {
                      "$ref": "#/components/schemas/ThinkEvent"
                    },
                    {
                      "$ref": "#/components/schemas/ToolCallEvent"
                    },
                    {
                      "$ref": "#/components/schemas/ToolResponseEvent"
                    },
                    {
                      "$ref": "#/components/schemas/SearchResultsEvent"
                    },
                    {
                      "$ref": "#/components/schemas/AnswerEvent"
                    }
                  ],
                  "discriminator": {
                    "propertyName": "event_name",
                    "mapping": {
                      "conversation": "#/components/schemas/ConversationEvent",
                      "chat_message": "#/components/schemas/ChatMessageEvent",
                      "status": "#/components/schemas/StatusEvent",
                      "keep_alive": "#/components/schemas/KeepAliveEvent",
                      "dialogue_id": "#/components/schemas/DialogueIdEvent",
                      "research_progress": "#/components/schemas/ResearchProgressEvent",
                      "round": "#/components/schemas/RoundEvent",
                      "think": "#/components/schemas/ThinkEvent",
                      "tool_call": "#/components/schemas/ToolCallEvent",
                      "tool_response": "#/components/schemas/ToolResponseEvent",
                      "search_results": "#/components/schemas/SearchResultsEvent",
                      "answer": "#/components/schemas/AnswerEvent"
                    }
                  }
                },
                "examples": {
                  "conversation_created": {
                    "summary": "1) Conversation Created",
                    "value": {
                      "event_name": "conversation",
                      "data": {
                        "conversation_id": "123e4567-e89b-12d3-a456-426614174000"
                      }
                    }
                  },
                  "chat_message": {
                    "summary": "2) Chat Message",
                    "description": "Chat message creation event",
                    "value": {
                      "event_name": "chat_message",
                      "data": {
                        "chat_message_id": "123e4567-e89b-12d3-a456-426614174000",
                        "message_type": "assistant"
                      }
                    }
                  },
                  "status_start": {
                    "summary": "2) Status Start",
                    "value": {
                      "event_name": "status",
                      "data": {
                        "status": "start"
                      }
                    }
                  },
                  "keep_alive": {
                    "summary": "3) Keep Alive",
                    "value": {
                      "event_name": "keep_alive",
                      "data": {
                        "keep_alive_counter": 1,
                        "timestamp": "2025-10-29T06:00:10.959327"
                      }
                    }
                  },
                  "dialogue_id": {
                    "summary": "3) Dialogue ID",
                    "value": {
                      "event_name": "dialogue_id",
                      "data": {
                        "dialogue_id": "123e4567-e89b-12d3-a456-426614174000"
                      }
                    }
                  },
                  "progress_research": {
                    "summary": "3) Research Progress",
                    "value": {
                      "event_name": "research_progress",
                      "data": {
                        "stage": "research",
                        "stage_description": "Conducting research round 2",
                        "progress_percentage": 35,
                        "current_round": 1,
                        "max_rounds": 5
                      }
                    }
                  },
                  "round_start": {
                    "summary": "4) Round",
                    "value": {
                      "event_name": "round",
                      "data": {
                        "count": 2,
                        "continue_search": true
                      }
                    }
                  },
                  "think": {
                    "summary": "5) Think",
                    "value": {
                      "event_name": "think",
                      "data": {
                        "think_piece": "<PLAN_REASONING>"
                      }
                    }
                  },
                  "tool_call": {
                    "summary": "6) Tool Call",
                    "value": {
                      "event_name": "tool_call",
                      "data": {
                        "tool_name": "integrated_search",
                        "tool_args": {
                          "query": "JP Morgan equity research Asia"
                        }
                      }
                    }
                  },
                  "tool_response": {
                    "summary": "7) Tool Response",
                    "value": {
                      "event_name": "tool_response",
                      "data": {
                        "id": "7a21e20f",
                        "response": {
                          "query": "JP Morgan equity research Asia",
                          "result": "===== RESPONSE =====\n\n**Research findings...**",
                          "used_citations": [
                            {
                              "title": "JP Morgan Asia Research Report",
                              "url": [
                                "https://example.com/report"
                              ],
                              "source": "JP Morgan",
                              "date": "2024-10-15",
                              "hash": "3ee9c11f"
                            }
                          ]
                        }
                      }
                    }
                  },
                  "search_results_event": {
                    "summary": "7. Search Results ID Event",
                    "description": "Unique identifier for the search results",
                    "value": {
                      "event_name": "search_results",
                      "data": {
                        "chat_message_id": "123e4567-e89b-12d3-a456-426614174000"
                      }
                    }
                  },
                  "answer_piece": {
                    "summary": "9) Answer",
                    "value": {
                      "event_name": "answer",
                      "data": {
                        "answer_piece": "### Executive Summary\n\nJP Morgan's equity research in Asia [3ee9c11f] shows..."
                      }
                    }
                  },
                  "status_finish": {
                    "summary": "10) Status Finish",
                    "value": {
                      "event_name": "status",
                      "data": {
                        "status": "finish"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid request parameters or incorrect format.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "example": {
                  "error": {
                    "code": "CREATE_CONV_FAIL",
                    "message": "RMS conversation could not be created."
                  },
                  "payload": null
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid authentication credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "example": {
                  "error": {
                    "code": "API_KEY_MISSING",
                    "msg": "header does not contain api key",
                    "message": "header does not contain api key"
                  },
                  "payload": null
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - No permission to access this resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "example": {
                  "error": {
                    "code": "FORBIDDEN",
                    "message": "Access denied: insufficient permissions."
                  },
                  "payload": null
                }
              }
            }
          },
          "404": {
            "description": "Not Found - The requested resource does not exist.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "example": {
                  "error": {
                    "code": "NOT_FOUND",
                    "message": "The requested resource was not found."
                  },
                  "payload": null
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - An unexpected error occurred on the server.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "example": {
                  "error": {
                    "code": "SERVER_ERROR",
                    "message": "An unexpected error occurred on the server."
                  },
                  "payload": null
                }
              }
            }
          }
        },
        "tags": [
          "RMS"
        ]
      }
    },
    "/v1/stop_stream": {
      "post": {
        "summary": "Pause RMS Chat Stream",
        "description": "Pause the RMS (Research Management System) chat stream.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RmsInterruptRequest"
              },
              "example": {
                "organization_id": "123e4567-e89b-12d3-a456-426614174000",
                "conversation_id": "987e6543-e21b-32d3-c654-426614174999",
                "user_id": "123e4567-e89b-12d3-a456-426614174000",
                "user_email": "john.doe@example.com",
                "user_name": "John Doe",
                "dialogue_id": "2d382478-077e-4bcb-b6ec-4fdcbc75ab33"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Stop Stream response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RmsInterruptResponse"
                },
                "example": {
                  "status": "success",
                  "message": "Interrupt request received",
                  "dialogue_id": "2d382478-077e-4bcb-b6ec-4fdcbc75ab33",
                  "paused": 1676198400
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid request parameters or incorrect format.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "example": {
                  "error": {
                    "code": "ORGANIZATION_ID_MISSING",
                    "msg": "organization_id is required",
                    "message": "organization_id is required"
                  },
                  "payload": null
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid authentication credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "example": {
                  "error": {
                    "code": "API_KEY_MISSING",
                    "msg": "header does not contain api key",
                    "message": "header does not contain api key"
                  },
                  "payload": null
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - No permission to access this resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "example": {
                  "error": {
                    "code": "FORBIDDEN",
                    "message": "Access denied: insufficient permissions."
                  },
                  "payload": null
                }
              }
            }
          }
        },
        "tags": [
          "RMS"
        ]
      }
    },
    "/v1/chat_messages/{chat_message_id}": {
      "get": {
        "summary": "Chat Message",
        "description": "Retrieves a specific chat message by its ID.\n\n**How to find chat_message_id:**\nLook for the event with `event_name` set to `search_results` in the Chat API response data. For detailed instructions, see [search_results event response](https://docs.linqalpha.com/api-reference/basic/chat_v2#option-6).",
        "parameters": [
          {
            "name": "chat_message_id",
            "in": "path",
            "description": "Chat message ID",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "123e4567-e89b-12d3-a456-426614174000"
          }
        ],
        "responses": {
          "200": {
            "description": "Chat message response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatMessageResponse"
                },
                "example": {
                  "chat_message_id": "123e4567-e89b-12d3-a456-426614174000",
                  "message": "The company's revenue grew by 20% in the last quarter. ...",
                  "message_type": "assistant",
                  "created_at": "2025-10-30T09:11:31.667544Z"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Missing or invalid chat_message_id",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "example": {
                  "error": {
                    "code": "CHAT_MESSAGE_ID_MISSING",
                    "msg": "chat_message_id is required",
                    "message": "chat_message_id is required"
                  },
                  "payload": null
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid API key or authentication credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "example": {
                  "error": {
                    "code": "API_KEY_MISSING",
                    "msg": "header does not contain api key",
                    "message": "header does not contain api key"
                  },
                  "payload": null
                }
              }
            }
          }
        },
        "tags": [
          "Data"
        ]
      }
    },
    "/v1/references": {
      "get": {
        "summary": "References",
        "description": "Retrieves evidence references for a specific chat message. Each reference corresponds to an exact chunk used in the final answer generated by the LinqAlpha engine. These chunks represent the precise portions of documents (e.g., filings, transcripts, or news) that were retrieved and cited by the model to construct the final response..\n\n**How to find chat_message_id:**\nLook for the event with `event_name` set to `search_results` in the Chat API response data. For detailed instructions, see [search_results event response](https://docs.linqalpha.com/api-reference/basic/chat_v2#option-6).\n\n**How to view original documents:**\n1. **Via Viewer:** `https://chat.linqalpha.com/rms/viewer?chat_message_id={chat_message_id}&citation_idx={citation_idx}`\n2. **Direct Download:** If the reference contains a `document_id`, you can access the original document directly through the [presigned_url endpoint](https://docs.linqalpha.com/api-reference/basic/presigned_url).",
        "parameters": [
          {
            "name": "chat_message_id",
            "in": "query",
            "description": "Chat message ID",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "123e4567-e89b-12d3-a456-426614174000"
          }
        ],
        "responses": {
          "200": {
            "description": "References response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReferencesResponse"
                },
                "example": {
                  "references": [
                    {
                      "id": "12",
                      "citation_idx": "12",
                      "search_type": "rms",
                      "chunk_id": "123e4567-e89b-12d3-a456-426614174000",
                      "text": "For fiscal year 2024, Tesla expects EBIT to grow between 15% and 20%...",
                      "text_type": "paragraph",
                      "document_id": "123e4567-e89b-12d3-a456-426614174000",
                      "document_name": "Tesla 10-K 2023",
                      "s3_file_key": "tesla/filings/2023/10k.pdf",
                      "external_url": "https://www.sec.gov/ix?doc=/Archives/edgar/data/1318605/000095017024002308/tsla-20231231.htm",
                      "metadata": {
                        "source": "filing",
                        "ticker": "TSLA",
                        "published_at": "2024-02-14"
                      },
                      "custom_metadata": null
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid request parameters or incorrect format.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "example": {
                  "error": {
                    "code": "CHAT_MESSAGE_ID_MISSING",
                    "msg": "chat_message_id is required",
                    "message": "chat_message_id is required"
                  },
                  "payload": null
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid authentication credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "example": {
                  "error": {
                    "code": "API_KEY_MISSING",
                    "msg": "header does not contain api key",
                    "message": "header does not contain api key"
                  },
                  "payload": null
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - No permission to access this resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "example": {
                  "error": {
                    "code": "FORBIDDEN",
                    "message": "Access denied: insufficient permissions."
                  },
                  "payload": null
                }
              }
            }
          },
          "404": {
            "description": "Not Found - The requested resource does not exist.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "example": {
                  "error": {
                    "code": "NOT_FOUND",
                    "message": "The requested resource was not found."
                  },
                  "payload": null
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - An unexpected error occurred on the server.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "example": {
                  "error": {
                    "code": "SERVER_ERROR",
                    "message": "An unexpected error occurred on the server."
                  },
                  "payload": null
                }
              }
            }
          }
        },
        "tags": [
          "Data"
        ]
      }
    },
    "/v2/conversations/{conversation_id}/references": {
      "get": {
        "summary": "References (v2)",
        "description": "Retrieves the list of evidence references (citations) used in a conversation.\n\nThe [Analytics SSE](/api-reference/basic/analytics-sse) endpoint streams the generated answer but **does not include references in the response**. Use this endpoint after the stream completes to fetch the full list of references that were cited in the answer.\n\n**Usage Flow:**\n1. Call the Analytics SSE endpoint (`POST /v1/analytics/sse`)\n2. From the SSE stream, find the `conversation` event → extract `conversation_id`\n3. After the stream finishes, call this endpoint with the `conversation_id`\n4. The response contains all references with citation index, source document info, and metadata\n\n**How to view original documents:**\n- **Via Viewer:** `https://chat.linqalpha.com/rms/viewer?conversation_id={conversation_id}&citation_idx={citation_idx}`",
        "parameters": [
          {
            "name": "conversation_id",
            "in": "path",
            "description": "Conversation ID (UUID). Provided in the `conversation` SSE event.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "example": "123e4567-e89b-12d3-a456-426614174000"
          },
          {
            "name": "organization_id",
            "in": "query",
            "description": "Organization ID. Required for platform API keys to identify the target organization.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "example": "123e4567-e89b-12d3-a456-426614174000"
          },
          {
            "name": "user_id",
            "in": "query",
            "description": "User ID. Required together with `user_email` for platform API keys to identify the specific user who owns the conversation.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "user-123"
          },
          {
            "name": "user_email",
            "in": "query",
            "description": "User email. Required together with `user_id` for platform API keys to identify the specific user who owns the conversation.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "email"
            },
            "example": "john.doe@example.com"
          }
        ],
        "responses": {
          "200": {
            "description": "References response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReferencesV2Response"
                },
                "example": {
                  "error": null,
                  "payload": {
                    "references": [
                      {
                        "id": "9162ee3d-e71e-4f2d-81a7-9981ecb06597",
                        "citation_idx": 1,
                        "search_type": "rms",
                        "chunk_id": "7601005986849213491",
                        "text": "Through our Apple Manufacturing Academy in Detroit, we're already training American businesses and innovators on the latest smart manufacturing and artificial intelligence techniques. Six months since opening, the academy is already making an enormously positive impact...",
                        "text_type": "paragraph",
                        "document_id": "ed6ed077-949c-46ec-b036-d01fafc9bb84",
                        "document_name": "Apple, Inc., Q1 2026 Earnings Call, 29-January-2026 5",
                        "s3_file_key": null,
                        "external_url": "",
                        "metadata": {
                          "rms_type": null,
                          "rms_sub_type": null,
                          "rms_document_type": "earnings_call",
                          "source": null,
                          "countries": null,
                          "regions": null,
                          "participants": null,
                          "tags": null,
                          "publisher": null,
                          "calendar_date": null,
                          "fiscal_year": null,
                          "fiscal_quarter": null,
                          "document_category": "earnings_call",
                          "document_subcategory": null,
                          "sector": null,
                          "subsector": null,
                          "stock_ids": [
                            "BBG001S5N8V8"
                          ],
                          "tickers": [
                            "AAPL"
                          ],
                          "company_names": null,
                          "offset": null,
                          "snippet": null
                        }
                      },
                      {
                        "id": "05cc6e75-674c-4263-9427-a2113d06a51c",
                        "citation_idx": 2,
                        "search_type": "rms",
                        "chunk_id": "7575071132181705859",
                        "text": "Our revenue of $102.5 billion was up 8% year-over-year and is a new September quarter record. We set September quarter records in the Americas, Europe, Japan and the rest of Asia Pacific, and grew in the vast majority of markets we track...",
                        "text_type": "paragraph",
                        "document_id": "c893ee34-fb85-491d-b667-0be2be515418",
                        "document_name": "Apple, Inc., Q4 2025 Earnings Call, 30-October-2025 5",
                        "s3_file_key": null,
                        "external_url": "",
                        "metadata": {
                          "rms_type": null,
                          "rms_sub_type": null,
                          "rms_document_type": "earnings_call",
                          "source": null,
                          "countries": null,
                          "regions": null,
                          "participants": null,
                          "tags": null,
                          "publisher": null,
                          "calendar_date": null,
                          "fiscal_year": null,
                          "fiscal_quarter": null,
                          "document_category": "earnings_call",
                          "document_subcategory": null,
                          "sector": null,
                          "subsector": null,
                          "stock_ids": [
                            "BBG001S5N8V8"
                          ],
                          "tickers": [
                            "AAPL"
                          ],
                          "company_names": null,
                          "offset": null,
                          "snippet": null
                        }
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid conversation_id format.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "example": {
                  "error": {
                    "code": "INVALID_REQUEST_BODY",
                    "msg": "conversation_id must be a valid UUID",
                    "message": "conversation_id must be a valid UUID"
                  },
                  "payload": null
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid authentication credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "example": {
                  "error": {
                    "code": "API_KEY_MISSING",
                    "msg": "header does not contain api key",
                    "message": "header does not contain api key"
                  },
                  "payload": null
                }
              }
            }
          }
        },
        "tags": [
          "Data"
        ]
      }
    },
    "/v2/analytics/messages/{chat_message_id}/judge": {
      "post": {
        "summary": "Analytics V2 Judge (source-grounding)",
        "tags": [
          "Search"
        ],
        "description": "Runs a source-grounding judge over one Analytics answer. You supply the answer's `chat_message_id` plus your own judging `prompt` (and an optional `response_schema`); we resolve the original prompt, the generated answer, and every reference the answer cited, run a tool-less GPT-4.1 over them, and return a verdict shaped by your schema.\n\n**Usage flow:**\n1. Call `POST /v2/analytics/sse`; while consuming the stream, capture the `chat_message_id` event.\n2. POST that id here with your `prompt` — your prompt is the entire judging instruction; we add no criteria of our own — and an optional `response_schema`.\n3. The verdict scores how well each claim is grounded in the sources the answer actually cited (a number that contradicts its source, or is absent from all sources, is flagged as not grounded).\n\nTenant-scoped: you can only judge answers generated by your own organization; others return 404.",
        "parameters": [
          {
            "name": "chat_message_id",
            "in": "path",
            "description": "The assistant answer's ChatMessage UUID. Emitted as the `chat_message_id` event on the Analytics SSE V2 stream.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "example": "5b37f46c-f5de-4b8a-af09-5058dd4779b3"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "prompt"
                ],
                "properties": {
                  "prompt": {
                    "type": "string",
                    "maxLength": 50000,
                    "description": "Your judging instruction, used verbatim as the judge's system prompt."
                  },
                  "response_schema": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Optional JSON Schema for the verdict shape (must serialize to at most 100000 bytes). Omit to use the default verdict schema."
                  }
                }
              },
              "example": {
                "prompt": "For each section of the answer, return: (1) a score from 0 to 10 reflecting how well its claims are grounded in the cited sources [N], (2) a concise summary, and (3) a short report covering Strengths, Weaknesses, and any Contradicted or unverifiable facts. Any figure or rating absent from the cited sources must appear under Contradicted or unverifiable.",
                "response_schema": {
                  "type": "object",
                  "properties": {
                    "section_scores": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "number"
                      }
                    },
                    "section_content_summaries": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    },
                    "report": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "section_scores",
                    "section_content_summaries",
                    "report"
                  ]
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Grounding verdict, shaped by your `response_schema`.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "nullable": true
                    },
                    "payload": {
                      "type": "object",
                      "properties": {
                        "chat_message_id": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "verdict": {
                          "type": "object",
                          "additionalProperties": true
                        },
                        "judge_model": {
                          "type": "string"
                        },
                        "references_evaluated": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "error": null,
                  "payload": {
                    "chat_message_id": "5b37f46c-f5de-4b8a-af09-5058dd4779b3",
                    "verdict": {
                      "section_scores": {
                        "Market Snapshot": 9.5,
                        "What CLSA Says": 8.0
                      },
                      "section_content_summaries": {
                        "Market Snapshot": "Index levels and deltas match the cited FactSet/market-data sources.",
                        "What CLSA Says": "Ratings and targets trace to the cited CLSA notes; one target could not be verified against any cited source."
                      },
                      "report": "## Market Snapshot\n- Strengths: index levels match the cited sources.\n- Contradicted or unverifiable: none.\n\n## What CLSA Says\n- Weaknesses: one price target is absent from the cited notes (flagged)."
                    },
                    "judge_model": "gpt-4.1",
                    "references_evaluated": 24
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request — invalid `chat_message_id` or body (e.g. missing `prompt`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "example": {
                  "error": {
                    "code": "INVALID_REQUEST_BODY",
                    "msg": "prompt is required",
                    "message": "prompt is required"
                  },
                  "payload": null
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found — the answer does not exist or was not generated by your organization.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity — invalid `response_schema`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway — upstream judge failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "504": {
            "description": "Gateway Timeout — the judge is a long-running LLM call.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/analytics/conversations/{conversation_id}/references": {
      "get": {
        "summary": "Analytics V2 References",
        "description": "Retrieves the list of evidence references (citations) used in an analytics conversation, in normalized format with enriched metadata.\n\n> **Note:** This endpoint returns references from the Analytics V2 SSE endpoint. Some source types (e.g., `rms`) require a separate onboarding process. For more information, please contact us at support@linqalpha.com.\n\n**Usage Flow:**\n1. Call the Analytics SSE V2 endpoint (`POST /v2/analytics/sse`)\n2. From the SSE stream, find the `conversation` event → extract `conversation_id`\n3. After the stream finishes, call this endpoint with the `conversation_id`\n4. The response contains all references with citation index, source document info, and metadata\n\n**How to view original documents:**\n- **Via Viewer:** `https://chat.linqalpha.com/rms/viewer?conversation_id={conversation_id}&citation_idx={citation_idx}`\n\n**Note:** This endpoint returns references in the same normalized format as the v1 references API, with enriched metadata fields (s3_file_key, external_url, calendar_date, fiscal_year, etc.). Use this endpoint when consuming the v2 analytics SSE stream.",
        "parameters": [
          {
            "name": "conversation_id",
            "in": "path",
            "description": "Conversation ID (UUID). Provided in the `conversation` SSE event from the Analytics SSE V2 endpoint.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "example": "123e4567-e89b-12d3-a456-426614174000"
          },
          {
            "name": "organization_id",
            "in": "query",
            "description": "Organization ID. Required for platform API keys to identify the target organization.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "example": "123e4567-e89b-12d3-a456-426614174000"
          },
          {
            "name": "user_id",
            "in": "query",
            "description": "User ID. Required together with `user_email` for platform API keys to identify the specific user who owns the conversation.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "user-123"
          },
          {
            "name": "user_email",
            "in": "query",
            "description": "User email. Required together with `user_id` for platform API keys to identify the specific user who owns the conversation.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "email"
            },
            "example": "john.doe@example.com"
          }
        ],
        "responses": {
          "200": {
            "description": "References response (normalized format)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalyticsReferencesResponse"
                },
                "example": {
                  "error": null,
                  "payload": {
                    "references": [
                      {
                        "id": "1",
                        "citation_idx": "1",
                        "search_type": "rms",
                        "chunk_id": "ad477254-58ef-4965-b86a-26ff9f5b3614",
                        "text": "UBS Investment Research report on energy sector companies...",
                        "text_type": "paragraph",
                        "document_id": "47061a59-2e02-4711-a096-8ba5744c73d0",
                        "document_name": "ued39062.pdf",
                        "s3_file_key": "production/data-original/1ec8b21f-c799-4fbb-a6cc-1548d45334f3/organization/2a96a7ca-f2ba-4098-92f8-742e9eb2ede6/s3/4b24a452b612b89d2c046e1740c5c6f75952ce8abc46b00abcc548409196f9f3.pdf",
                        "external_url": null,
                        "metadata": {
                          "calendar_date": "2026-03-02T00:00:00Z",
                          "fiscal_year": 2025,
                          "fiscal_quarter": 4,
                          "source": "filing",
                          "tickers": [
                            "BRKM5",
                            "ECOPETL",
                            "PETR4",
                            "YPFD",
                            "PRIO3"
                          ],
                          "company_names": [
                            "Braskem",
                            "Ecopetrol",
                            "Petrobras",
                            "YPF",
                            "PRIO"
                          ],
                          "stock_ids": [
                            "BBG001S6ZH89",
                            "BBG001SSJG36",
                            "BBG001S7GRB2",
                            "BBG001S7KCP5",
                            "BBG001T9LDJ4"
                          ],
                          "document_category": "Analysis, Report & Note",
                          "document_subcategory": "Brokerage",
                          "rms_document_type": null,
                          "rms_type": null,
                          "rms_sub_type": null,
                          "sector": [
                            "Energy"
                          ],
                          "subsector": [
                            "Oil & gas"
                          ],
                          "publisher": "UBS",
                          "countries": [
                            "United States",
                            "Iran",
                            "Israel",
                            "Saudi Arabia",
                            "Brazil"
                          ],
                          "regions": [
                            "North America",
                            "EMEA",
                            "LatAm",
                            "Europe",
                            "APAC"
                          ],
                          "participants": [
                            {
                              "name": "Donald Trump",
                              "role": "President",
                              "organization": "United States",
                              "participation_type": "referenced"
                            }
                          ],
                          "tags": [],
                          "parent_id": "608fabf4-c879-486f-83d1-3a889d91f74e",
                          "parent_document_id": "608fabf4-c879-486f-83d1-3a889d91f74e",
                          "creation_timestamp": "2026-03-02T15:49:29+00:00",
                          "last_contribution_timestamp": "2026-03-02T15:49:29+00:00",
                          "document_tags": [
                            "research_report",
                            "brokerage"
                          ],
                          "creator_name": null,
                          "last_contributor_name": null,
                          "offset": [
                            {
                              "top": 0.683,
                              "left": 0.076,
                              "page": 8,
                              "width": 0.561,
                              "height": 0.229
                            }
                          ]
                        },
                        "custom_metadata": null
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid conversation_id format.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "example": {
                  "error": {
                    "code": "INVALID_REQUEST_BODY",
                    "msg": "conversation_id must be a valid UUID",
                    "message": "conversation_id must be a valid UUID"
                  },
                  "payload": null
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid authentication credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "example": {
                  "error": {
                    "code": "API_KEY_MISSING",
                    "msg": "header does not contain api key",
                    "message": "header does not contain api key"
                  },
                  "payload": null
                }
              }
            }
          }
        },
        "tags": [
          "Data"
        ]
      }
    },
    "/v1/search": {
      "post": {
        "summary": "Search",
        "description": "LinqAlpha uses multiple data sources and retrieval methods to find the most relevant documents or information based on a query. Unlike the generate endpoint, this API only performs the search step and returns matched results without generating a response.\n\n**How to view original documents:**\n1. **Via Viewer:** `https://chat.linqalpha.com/rms/viewer?chat_message_id={chat_message_id}&citation_idx={citation_idx}`\n2. **Direct Download:** If the reference contains a `document_id`, you can access the original document directly through the [presigned_url endpoint](https://docs.linqalpha.com/api-reference/basic/presigned_url).",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchRequest"
              },
              "example": {
                "query": "What are the latest news on AAPL?",
                "stock_ids": [
                  "BBG001S5N8V8"
                ],
                "tickers": [
                  "AAPL"
                ],
                "external_types": [
                  "transcript",
                  "filing",
                  "news",
                  "ir_slide"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Search response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                },
                "example": {
                  "chat_message_id": "123e4567-e89b-12d3-a456-426614174000",
                  "search_result_count": 38,
                  "execution_time_ms": 10355,
                  "references": [
                    {
                      "id": "12",
                      "citation_idx": "12",
                      "search_type": "rms",
                      "chunk_id": "123e4567-e89b-12d3-a456-426614174000",
                      "text": "For fiscal year 2024, Tesla expects EBIT to grow between 15% and 20%...",
                      "text_type": "paragraph",
                      "document_name": "Tesla 10-K 2023",
                      "external_url": "https://www.sec.gov/ix?doc=/Archives/edgar/data/1318605/000095017024002308/tsla-20231231.htm",
                      "metadata": {
                        "source": "filing",
                        "ticker": "TSLA",
                        "published_at": "2024-02-14"
                      },
                      "custom_metadata": null
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid request parameters or incorrect format.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "examples": {
                  "invalid_upload_period": {
                    "summary": "Invalid upload_period format",
                    "value": {
                      "error": {
                        "code": "INVALID_REQUEST_BODY",
                        "message": "upload_period.start_time must be an object with year (integer), month (integer 1-12), and optional day (integer 1-31). Example: {\"year\": 2025, \"month\": 1, \"day\": 1}"
                      },
                      "payload": null
                    }
                  },
                  "missing_query": {
                    "summary": "Missing required field",
                    "value": {
                      "error": {
                        "code": "INVALID_REQUEST_BODY",
                        "message": "query is required and must be a string"
                      },
                      "payload": null
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid authentication credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "example": {
                  "error": {
                    "code": "API_KEY_MISSING",
                    "msg": "header does not contain api key",
                    "message": "header does not contain api key"
                  },
                  "payload": null
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - No permission to access this resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "example": {
                  "error": {
                    "code": "FORBIDDEN",
                    "message": "Access denied: insufficient permissions."
                  },
                  "payload": null
                }
              }
            }
          },
          "404": {
            "description": "Not Found - The requested resource does not exist.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "example": {
                  "error": {
                    "code": "NOT_FOUND",
                    "message": "The requested resource was not found."
                  },
                  "payload": null
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - An unexpected error occurred on the server.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "example": {
                  "error": {
                    "code": "SERVER_ERROR",
                    "message": "An unexpected error occurred on the server."
                  },
                  "payload": null
                }
              }
            }
          }
        },
        "tags": [
          "Search"
        ]
      }
    },
    "/v1/ttsql": {
      "post": {
        "summary": "TTSQL",
        "description": "Converts natural language query to SQL, executes it, and returns results in markdown format",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TtsRequest"
              },
              "example": {
                "query": "Show me NVIDIA's quarterly revenue and net income for 2024"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Query executed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TtsResponse"
                },
                "example": {
                  "code": 0,
                  "success": true,
                  "message": "success",
                  "response": {
                    "execution_id": "2548d578-0446-4abc-b6f6-f50c966d341c",
                    "stock_name_mapping": {
                      "BBG001S5TZJ6": "NVIDIA Corporation"
                    },
                    "currency_info": [
                      {
                        "currency": "USD",
                        "exchange_rate": 1
                      }
                    ],
                    "field_currency_info": {
                      "BBG001S6Q004": {
                        "SALES": "TWD",
                        "EPS": "TWD",
                        "ff_sales": "TWD"
                      }
                    },
                    "execution_duration": 171,
                    "date_range": [
                      "2024-01-01",
                      "2024-12-31"
                    ],
                    "rdb_result": "### Company Annual Financials\n\n| name | Fiscal Period End Date | Dividends Per Share |\n| --- | --- | --- |\n| NVIDIA Corporation | 2024-01-31 | 0.016 |"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid API key or authentication credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "example": {
                  "error": {
                    "code": "API_KEY_MISSING",
                    "msg": "header does not contain api key",
                    "message": "header does not contain api key"
                  },
                  "payload": null
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Data"
        ]
      }
    },
    "/v2/chat/sse": {
      "post": {
        "summary": "Generate a response from the LinqAlpha engine via SSE",
        "description": "Generate a response from the LinqAlpha engine. LinqAlpha uses different types of language models and data sources to generate an answer. The response is provided as a server-sent events (SSE) stream.\n\n**Note**: For this search chat endpoint, the stock_id (BBG_ID) can be obtained by referring to the [Map Tickers API](https://docs.linqalpha.com/api-reference/basic/map_tickers) and using the `stock_id` value from its response.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatSseV2Request"
              },
              "example": {
                "query": "What are the latest insights on AAPL performance?",
                "stock_ids": [
                  "BBG001S5N8V8"
                ],
                "tickers": [
                  "AAPL"
                ],
                "external_types": [
                  "transcript",
                  "filing",
                  "news",
                  "ir_slide"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "SSE stream response with RMS search results",
            "content": {
              "text/event-stream": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ConversationEvent"
                    },
                    {
                      "$ref": "#/components/schemas/ThinkEvent"
                    },
                    {
                      "$ref": "#/components/schemas/SubQuestionsEvent"
                    },
                    {
                      "$ref": "#/components/schemas/StatusEvent"
                    },
                    {
                      "$ref": "#/components/schemas/DialogueIdEvent"
                    },
                    {
                      "$ref": "#/components/schemas/SearchResultsEvent"
                    },
                    {
                      "$ref": "#/components/schemas/AnswerEvent"
                    }
                  ],
                  "discriminator": {
                    "propertyName": "event_name",
                    "mapping": {
                      "conversation": "#/components/schemas/ConversationEvent",
                      "think": "#/components/schemas/ThinkEvent",
                      "sub_questions": "#/components/schemas/SubQuestionsEvent",
                      "status": "#/components/schemas/StatusEvent",
                      "dialogue_id": "#/components/schemas/DialogueIdEvent",
                      "search_results": "#/components/schemas/SearchResultsEvent",
                      "answer": "#/components/schemas/AnswerEvent"
                    }
                  }
                },
                "examples": {
                  "conversation_created": {
                    "summary": "2. Conversation Created Event",
                    "description": "Conversation creation event - first event in the stream",
                    "value": {
                      "event_name": "conversation",
                      "data": {
                        "conversation_id": "123e4567-e89b-12d3-a456-426614174000"
                      }
                    }
                  },
                  "think_event": {
                    "summary": "3. Think Event",
                    "description": "Streamed reasoning/planning process",
                    "value": {
                      "event_name": "think",
                      "data": {
                        "think_piece": "<PLAN_REASONING>"
                      }
                    }
                  },
                  "sub_questions_event": {
                    "summary": "4. Sub Questions Event",
                    "description": "Sub-questions generated for the current message",
                    "value": {
                      "event_name": "sub_questions",
                      "data": {
                        "sub_questions": [
                          "What is the latest news about JP morgan equity research asia?",
                          "What is the latest news about JP morgan equity research asia?"
                        ]
                      }
                    }
                  },
                  "status_event": {
                    "summary": "5. Status Event - Finish",
                    "description": "Indicates stream has completed",
                    "value": {
                      "event_name": "status",
                      "data": {
                        "status": "finish"
                      }
                    }
                  },
                  "dialogue_id_event": {
                    "summary": "6. Dialogue ID Event",
                    "description": "Unique identifier for the current dialogue",
                    "value": {
                      "event_name": "dialogue_id",
                      "data": {
                        "dialogue_id": "123e4567-e89b-12d3-a456-426614174000"
                      }
                    }
                  },
                  "search_results_event": {
                    "summary": "7. Search Results ID Event",
                    "description": "Unique identifier for the search results",
                    "value": {
                      "event_name": "search_results",
                      "data": {
                        "chat_message_id": "123e4567-e89b-12d3-a456-426614174000"
                      }
                    }
                  },
                  "answer_event": {
                    "summary": "8. Answer Event",
                    "description": "Streamed answer content",
                    "value": {
                      "event_name": "answer",
                      "data": {
                        "answer_piece": "Based on the latest research..."
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid request parameters or incorrect format.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "examples": {
                  "invalid_upload_period": {
                    "summary": "Invalid upload_period format",
                    "value": {
                      "error": {
                        "code": "INVALID_REQUEST_BODY",
                        "message": "upload_period.start_time must be an object with year (integer), month (integer 1-12), and optional day (integer 1-31). Example: {\"year\": 2025, \"month\": 1, \"day\": 1}"
                      },
                      "payload": null
                    }
                  },
                  "missing_query": {
                    "summary": "Missing required field",
                    "value": {
                      "error": {
                        "code": "INVALID_REQUEST_BODY",
                        "message": "query is required and must be a string"
                      },
                      "payload": null
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid authentication credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "example": {
                  "error": {
                    "code": "API_KEY_MISSING",
                    "msg": "header does not contain api key",
                    "message": "header does not contain api key"
                  },
                  "payload": null
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - An unexpected error occurred on the server.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "example": {
                  "error": {
                    "code": "SERVER_ERROR",
                    "message": "An unexpected error occurred on the server."
                  },
                  "payload": null
                }
              }
            }
          }
        },
        "tags": [
          "Search"
        ]
      }
    },
    "/v1/analytics/sse": {
      "post": {
        "summary": "Generate an analytics response via SSE",
        "description": "Generate an agentic analytics response via Server-Sent Events. This endpoint leverages multi-step reasoning with tool use to deliver deeper, more comprehensive answers compared to the standard search & generate endpoints.\n\nThe response stream includes message echo, thinking processes, tool calls with results, and the final answer.\n\n**Note:** Unlike `/v1/search` or `/v2/chat/sse`, this endpoint does not accept separate filter parameters (e.g., `stock_ids`, `tickers`, `external_types`, `upload_period`). Instead, include all filtering context directly in the `query` field. For example: `\"Analyze AAPL earnings trend from Q1 2024 to Q4 2025\"`.\n\n### Event Flow\n\n```\nconversation          -> conversation_id for this session\nmessage               -> echo of user query\nstatus: start         -> stream begins\n+-- AGENTIC LOOP (repeats) ----------------------------+\n|  tool_use_block     -> 1-N parallel tool calls (batch)|\n|  tool_result_block  -> results for each call          |\n|  status: keep_alive -> heartbeat (if >15s gap)        |\n|  think (x N)        -> reasoning tokens               |\n+------------------------------------------------------+\nthink (x N)           -> extended reasoning / draft\nanswer                -> single chunk final answer\nstatus: finish        -> stream ends\n```",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AnalyticsRequest"
              },
              "example": {
                "query": "Analyze AAPL earnings trend over the past 4 quarters"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "SSE stream of analytics events. Each event is sent as `data: {json}\\n\\n`. The stream contains multiple event types in sequence. See the Event Flow section above for the typical ordering.",
            "content": {
              "text/event-stream": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ConversationEvent"
                    },
                    {
                      "$ref": "#/components/schemas/AnalyticsMessageEvent"
                    },
                    {
                      "$ref": "#/components/schemas/AnalyticsStatusEvent"
                    },
                    {
[...]
